<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海外留学网后台管理</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/css/admin_index.css">
    <link rel="stylesheet" href="/public/css/reset.css">
    <script src="/public/js/jquery-3.2.0.min.js"></script>
    <script src="/public/js/npm.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin">后台管理</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/user">用户列表</a></li>
                        <li><a href="/admin/user/add">用户添加</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">导航管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/navigation">导航列表</a></li>
                        <li><a href="/admin/navigation/add">导航添加</a></li>
                        <li><a href="/admin/navigation/title">导航标题列表</a></li>
                        <li><a href="/admin/navigation/title/add">导航标题添加</a></li>
                        <li><a href="/admin/navigation/title/content">标题内容列表</a></li>
                        <li><a href="/admin/navigation/title/content/add">标题内容列表添加</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">学校管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/area">地区列表</a></li>
                        <li><a href="/admin/area/add">地区添加</a></li>
                        <li><a href="/admin/school">学校列表</a></li>
                        <li><a href="/admin/school/add">学校添加</a></li>
                    </ul>
                </li>
<!--                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    {% block main %}{%endblock%}
    <!--预留block-->
</div>
</body>
</html>