<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海外留学网后台管理</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/css/admin_index.css">
    <link rel="stylesheet" href="/public/css/reset.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">后台管理</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/user">用户列表</a></li>
                        <li><a href="/admin/user/add">用户添加</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">导航管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/navigation">导航列表</a></li>
                        <li><a href="/admin/navigation/add">导航添加</a></li>
                        <li><a href="/admin/navigation/title">导航标题列表</a></li>
                        <li><a href="/admin/navigation/title/add">导航标题添加</a></li>
                        <li><a href="/admin/navigation/title/content">标题内容列表</a></li>
                        <li><a href="/admin/navigation/title/content/add">标题内容列表添加</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">学校管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/area">地区列表</a></li>
                        <li><a href="/admin/area/add">地区添加</a></li>
                        <li><a href="/admin/school">学校列表</a></li>
                        <li><a href="/admin/school/add">学校添加</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">留学管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/study_abroad/test">考试列表</a></li>
                        <li><a href="/admin/study_abroad/test/add">考试添加</a></li>
                        <li><a href="/admin/study_abroad">留学列表</a></li>
                        <li><a href="/admin/study_abroad/add">留学添加</a></li>
                        <li><a href="/admin/study_abroad/nav">留学导航列表</a></li>
                        <li><a href="/admin/study_abroad/nav/add">留学导航添加</a></li>
                        <li><a href="/admin/study_abroad/nav/content">导航文章列表</a></li>
                        <li><a href="/admin/study_abroad/nav/content/add">导航文章添加</a></li>
                        <li><a href="/admin/study_abroad/nav/enroll">录取案例列表</a></li>
                        <li><a href="/admin/study_abroad/nav/enroll/add">录取案例添加</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">培训管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/training">培训分类列表</a></li>
                        <li><a href="/admin/training/add">培训分类添加</a></li>
                        <li><a href="/admin/training/content">培训文章列表</a></li>
                        <li><a href="/admin/training/content/add">培训文章添加</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">教师管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/teacher">教师列表</a></li>
                        <li><a href="/admin/teacher/add">教师添加</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">图片管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/file_upload/school">学校图片上传</a></li>
                        <li><a href="/admin/file_upload/school/list">学校图片列表</a></li>
                        <li><a href="/admin/file_upload/teacher">教师图片上传</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="/public/js/jquery-3.2.0.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<div class="container-fluid">
    {% block main %}{%endblock%}
    <!--预留block-->
</div>
</body>
</html>