{% extends 'layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/">官网首页</a></li>
    <li><span>学校编辑</span></li>
</ol>

<h3 style="font-size: 24px;font-weight: bold; line-height: 50px;margin-bottom: 20px;border-bottom: 1px solid #ccc">学校编辑 - {{school.School_zn}}</h3>

<form role="form" method="post">
    <div class="form-group">
        <label for="area_name">地区名称：</label>
        <select name="area_name" id="area_name" class="form-control" style="margin: 10px 0">
            {% for area in areas %}
                {% if area._id.toString() == school.area._id.toString() %}
                    <option value="{{area.id}}" selected>{{area.Area_name}}</option>
                {% else %}
                    <option value="{{area.id}}">{{area.Area_name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="school_zn">学校中文名称：</label>
        <input style="margin: 5px 0 20px" type="text" class="form-control" id="school_zn" value="{{school.School_zn}}" name="school_zn">
        <label for="school_en">学校英文名称：</label>
        <input style="margin: 5px 0 20px" type="text" class="form-control" id="school_en" value="{{school.School_en}}" name="school_en">
        <label for="school_rank">学校排名：</label>
        <input style="margin: 5px 0 20px" type="text" class="form-control" id="school_rank" value="{{school.School_rank}}" name="school_rank">
        <label for="school_url">学校图片名称：</label>
        <input style="margin: 5px 0 20px" type="text" class="form-control" id="school_url" value="{{school.School_url}}" name="school_url">
    </div>
    <button type="submit" class="btn btn-default">提交</button>
</form>

{% endblock %}