{% extends '../layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/">官网首页</a></li>
    <li><span>学校图片列表列表</span></li>
</ol>

<h3 style="font-size: 24px;font-weight: bold; line-height: 50px">用户列表</h3>

<table class="table table-hover table-striped">
    <tr>
        <th>图片名称</th>
        <th>操作</th>
    </tr>
    {% for file in fileArray %}
    <tr>
        <td>{{file}}</td>
        <td>
            <a href="/admin/file_upload/school/list/delete?filename={{file}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>

<!--引用模版，相当于引用文件，在这里引用page.html里面的内容，不一定是html文件，其他都可以-->
{%include '../page.html'%}

{% endblock %}