body{
    *text-align: center;
}
/*
    顶头图片
*/
.big{
    position: relative;
}
.big div{
    background: url("../images/head/banner1.png") no-repeat top center;
    background-size: cover;
    width: 100%;
    min-width: 1140px;
    height: 180px;
}
/*
    不同图片样式
*/
.big>div+div{
    display: none;
    background: url("../images/head/banner2.png") no-repeat top center;
}
.big>div+div+div{
    display: none;
    background: url("../images/head/banner3.png") no-repeat top center;
}
.big>div+div+div+div{
    display: none;
    background: url("../images/head/banner4.png") no-repeat top center;
}

/*
    导航、登录、注册
*/
.hold{
    display: block;
    width: 100%;
    min-width: 1140px;
    margin: auto;
    background-color: #333;
}
.container{
    width: 1140px;
    position: relative;
    z-index: 2;
}
.container .ban{
    text-shadow:0 1px 0 rgba(255,255,255,.25);
    list-style: none;
    margin: 0;
    padding: 15px 0;
    float: right;
}
.container .ban li{
    font: normal 14px/25px "微软雅黑";
    height: 25px;
    float: left;
    margin-left: 20px;
}
#logo{
    padding: 0;
    margin: 0;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 10px;
}
#logo img{
    width: 90px;
    height: 42px;
    display: block;
    float: left;
    cursor: pointer;
    margin-top: -3px;
}
#logo span{
    cursor: pointer;
    float: left;
    width: 120px;
    padding: 5px 10px;
    display: block;
    color: #337ab7;
    background-color: rgba(255,255,204,.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fffffcc,endColorstr=#7Fffffcc);
    border-radius: 8px;
}
.container .ban li a{
    color: #fff;
    text-decoration: none;
}
#username{
    color: #fff;
    font-size: 14px;
}
.container .ban #success:hover ul{
    display: block!important;
}
#banlist {
    display: none;
}
#username .banlist{
    list-style: none;
    margin: 0 0 0 -60px;
    padding: 10px 15px 0;
    background-color: rgba(0,0,0,.6);
    width: 120px;
    position: absolute;
    top: 40px;
    right: 0;
    white-space: nowrap;
    background-color: #666\9;
    *width: 90px;
}
.container .ban .banlist li{
    margin-left: 0;
    margin-bottom: 20px;
    line-height: 20px;
    height: 20px;
    width: 100%;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    text-align: center;
}

/*
    登录、注册的遮罩层
*/
.shade_wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
    *text-align: center;
}
.shade {
    background-color: rgb(0, 0, 0);
    opacity: .3;
    filter: alpha(opacity:30);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.login,
.register{
    width: 404px;
    background-color: rgb(255,255,255);
    border: 1px solid darkgray;
    padding: 50px;
    position: relative;
    top: 50%;
    *width: 304px;
}
.login button,
.register button {
    *padding: 0!important;
}
.login input,
.register input {
    *padding: 0!important;
    *line-height: 34px!important;
}
.login p,
.register p {
    *text-align: left;
}
.register{
    margin: -210px auto 0;
    height: 420px;
    *height: 320px;
}
.login{
    margin: -180px auto 0;
    height: 360px;
    *height: 260px;
}
.login span,.register span{
    width: 21px;
    height: 21px;
    display: block;
    background: url("../images/icon/closeicon.png") no-repeat center top;
    position: absolute;
    top: 5px;
    right: 5px;
}
.login span:hover,.register span:hover{
    cursor: pointer;
}
.login h3,.register h3{
    font-size: 24px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 30px;
}
.login input{
    margin-bottom: 20px;
}
.login .zhuce,.register .denglu{
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
}
.login .zhuce li,.register .denglu li{
    float: right;
}
.login button{
    margin-top: 40px;
}
.colWarning{
    color: #999;
    margin: 0;
    font: normal 14px/35px "微软雅黑";
    text-indent: .2em;
    width: 100%;
    height: 35px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.tips2{
    text-align: center!important;
    color: #a94442;
    font-size: 14px;
}
.tips{
    width: 100%;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    color: #3c763d;
    margin: 0;
    text-align: center!important;
    height: 25px;
    font-size: 14px;
}
.tips a{
    margin: 0;
    line-height: 25px;
}

/*
    导航栏
*/
.outer{
    display: block;
    width: 100%;
    min-width: 1140px;
    margin: 20px auto 15px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    *text-align: center;
}
.menu{
    width: 1140px;
    margin: 0 auto;
    *margin-top: 20px;
    height: 40px;
    position: relative;
    z-index: 1;
    text-align: center;
}
.menu .server{
    width: 230px;
    height: 460px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 0;
}
.menu .server h3{
    line-height: 40px;
    text-align: center;
    background-color: #337ab7;
    border-bottom: 1px solid #337ab7;
    color: #000;
}
.menu .server .server_cover {
    position: absolute;
    top: 40px;
    left: 0;
    width: 230px;
    height: 424px;
    background-color: #000;
    opacity: .3;
    filter: alpha(opacity:30);
}
.menu .server ul{
    position: relative;
    padding: 0 11px;
    list-style: none;
    margin: 0;
    *text-align: left;
    *white-space: nowrap;
}
.menu .server .server_part{
    padding: 12px 10px 10px;
    border-bottom: 1px solid #999;
    display: block;
}
.menu .server .server_part a:hover{
    color: #0066FF;
}
.menu .server .server_list{
    padding: 0;
    margin: 15px 0 0;
}
.menu .server .server_list li{
    float: left;
    margin: 0 8px 10px 0;
}
.menu .server .server_list li a{
    font-size: 13px;
    color: white;
}
.menu .server .server_head{
    color: #fff;
    font-size: 16px;
}
.menu .navigation{
    display: inline-block;
    *zoom: 1;
    *display: inline;
    list-style: none;
    height: 40px;
    overflow: hidden;
}
.menu .navigation .nav_head{
    background-color: white;
    float: left;
    margin: 0;
}
.menu .navigation .nav_head a{
    padding: 0 18px;
    font-size: 16px;
    line-height: 40px;
    color: #000;
}
.menu .navigation .nav_head:hover{
    background-color: #337ab7;
    cursor: pointer;
}
.menu .navigation .nav_head:hover a{
    color: #fff;
}
.menu .navigation h4{
    font: bold 14px/28px "微软雅黑";
    float: left;
    width: 8%;
    color: #000;
    cursor: text;
    *white-space: nowrap;
    *margin-left: 20px;
    *text-align: left;
}
.menu .navigation .nav_list{
    float: right;
    padding: 0 25px 15px;
    max-width: 680px;
    width: 85%;
    margin: 0 0 0 40px;
    list-style: none;
    cursor: default;
    border-bottom: 1px solid #ccc;
    *white-space: nowrap;
    *width: 75%;
    *margin-right: 20px;
}
.menu .navigation .nav_list li{
    margin-right: 15px;
    float: left;
}
.menu .navigation .nav_list li a{
    padding: 0;
    font: bold 13px/28px "微软雅黑";
    color: #444;
}
.menu .navigation .nav_list li a:hover{
    color: #0066FF;
}

/*
    面包屑导航
*/
.bread_wrap {
    display: block;
    width: 100%;
}
.bread_wrap .bread_content {
    width: 1140px;
    height: 35px;
    margin: 0 auto;
}
.bread_wrap .bread_content span {
    font: bold 12px "微软雅黑";
}
.bread_wrap .bread_content ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.bread_wrap .bread_content ol li {
    display: inline-block;
}
.bread_wrap .bread_content ol li a {
    font: normal 12px "微软雅黑";
    color: #666;
}

/*
    文章列表
*/
/*
    文章选项框
*/
.article {
    width: 1140px;
    margin: 0 auto;
}
.article .article_bar {
    display: block;
    width: 800px;
    float: left;
}
.article .article_bar h3 {
    font: bold 14px/30px "微软雅黑";
    text-indent: 10px;
    color: #fff;
    background-color: #337ab7;
    margin: 0;
}
.article .article_bar .article_input {
    margin: 5px 0;
}
.article .article_bar .article_input_list{
    margin: 0 0 20px;
}
.article_input p{
    float: left;
    font:normal 14px/30px "微软雅黑";
    color: #337ab7;
    width: 100px;
}
.article_input a{
    float: left;
    height: 28px;
    font:normal 14px/30px "微软雅黑";
    color: #333;
    margin-right: 5px;
    padding: 0 5px;
}
.article_input a:hover {
    background-color: #337ab7;
    color: #fff;
}
.article_input .active{
    color: #fff;
    background-color: #337ab7;
}
.article_input .active2{
    color: #fff;
    background-color: #337ab7;
}
/*激活的背景蓝色*/
.article_input_list .article_input .active {
    background-color: #337ab7;
    color: #fff;
}
/*
    文章列表
*/
.article .article_bar .article_list {
    width: 760px;
}
.article .article_bar .article_list .article_content {
    list-style: none;
    margin: 0;
    padding: 0;
}
.article .article_bar .article_list .article_content li {
    position: relative;
    box-sizing: content-box;
    padding: 10px 0 10px 10px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
}
.article .article_bar .article_list .article_content li h3 {
    font: bold 14px/30px "微软雅黑";
    color: #485359;
    margin: 0;
    background-color: transparent;
}
.article .article_bar .article_list .article_content li p {
    text-indent: 2em;
    font: normal 12px/24px "微软雅黑";
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.article .article_bar .article_list .article_content span {
    position: absolute;
    top: 10px;
    right: 80px;
    width: 100px;
    font: normal 12px/30px "微软雅黑";
    text-align: center;
    background-color: #fff;
    color: #333;
    white-space: nowrap;
}
.article .article_bar .article_list .article_content span i {
    color: #337ab7;
    font-style: normal;
}
.article .article_bar .article_list .article_content .article_detail {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font: normal 12px/30px "微软雅黑";
    color: #eb504e;
}
/*
    文章列表右边推荐文章
*/
.article .article_sidebar {
    float: right;
    width: 320px;
}
.article .article_sidebar .article_sidebar_part .article_sidebar_p {
    width: 100%;
    margin-bottom: 20px;
}
.article .article_sidebar .article_sidebar_part .article_sidebar_p div {
    border: 1px solid #333;
    width: 100%;
    height: 400px;
}
.article .article_sidebar .article_sidebar_part .article_sidebar_p h3 {
    font: bold 18px/30px "微软雅黑";
    text-indent: 2em;
    color: #666;
    margin: 0 0 10px;
}

    /*
        底部信息footer
    */
.footer{
    display: block;
    width:100%;
    min-width: 1140px;
    margin: 0 auto;
    background-color: #323232;
    *text-align: left;
}
.footer .catalog{
    width: 1140px;
    height: 320px;
    margin: 0 auto;
    padding: 80px 0 50px;
    border-bottom: 1px solid #4d4d4d;
    overflow: hidden;
    *height: 190px;
}
.footer .catalog ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .catalog .footer_part{
    float: left;
    margin: 0 110px 0 0;
}
.footer .catalog .footer_part .footer_title{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 15px 0;
}
.footer .catalog .footer_part li a{
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}
.footer .catalog .footer_part li a:hover{
    color: #0066FF;
}
/*
    公司栏
*/
.footer .catalog .company{
    width: 380px;
    margin: 0;
}
.footer .catalog .company li a{
    margin-right: 5px;
}
.footer .catalog .company li a:hover{
    color: #0066FF;
}

/*
    版权
*/
.footer .copyright{
    width: 1140px;
    height: 120px;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding: 20px 0;
    overflow: hidden;
    *height: 80px;
}
.footer .copyright p{
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

/*
    友情链接
*/
.friend_link{
    width: 100%;
    min-width: 1140px;
    margin: 0 auto;
    background-color: #000;
    position: relative;
}
.friend_link .links{
    width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
}
.friend_link .links span{
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-right: 10px;
}
.friend_link .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.friend_link .links ul li{
    float: left;
    margin-right: 15px;
}
.friend_link .links ul li a{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.friend_link .links ul li a:hover{
    color: #0066FF;
}

/*
    留言咨询栏
*/
.tel_call{
    position: fixed;
    z-index: 2;
    left: 0;
    top:40%;
    width: 300px;
    height: 300px;
    border: 2px solid #337ab7;
    border-left: none;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 30px 0 20px 10px;
}
.tel_call em{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height:20px;
    background: url("/public/images/tel_close.png");
    background-size: cover;
    cursor: pointer;
    background: none\9;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/public/images/tel_close.png",  sizingMethod="scale")
}
.message_form {
    width: 290px;
    height: 260px;
}

#tel_more {
    display: none;
    position: absolute;
    width: 120px;
    height: 82px;
    padding: 12px;
    background-color: #337ab7;
    font: normal 16px "Microsoft YaHei";
    color: #fff;
    right: -140px;
    top: -90px;
}
.tel_call em:hover #tel_more {
    display: block;
}
#word {
    box-sizing: border-box;
    resize: none;
    margin: 0 auto;
    border: 1px solid #337ab7;
    outline: none;
    padding: 10px;
}
.tel_call input {
    outline:none;
    border: 1px solid #337ab7;
    margin: 10px auto;
    text-align: center;
    padding: 5px;
}

#submit {
    display: block;
    background-color: #337ab7;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
/*
    留言图标栏
*/
.tel_logo{
    position: fixed;
    left:0;
    top: 40%;
    width: 40px;
    height: 100px;
    background-color: #337ab7;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}
.tel_logo .tel_title{
    margin: 5px 0 0;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 46px;
    width: 37px;
}
.page {
    width: 100%!important;
}
.page>.pagination>li>span,
.pagination-lg>li>a {
    padding: 6px 12px!important;
}
