
/*
    导航、登录、注册
*/
.hold{
    display: block;
    width: 100%;
    min-width: 1140px;
    margin: auto;
    background-color: #333;
    position: static;
}
.container{
    width: 1140px;
    position: relative;
    z-index: 3;
}
.container .ban{
    text-shadow:0 1px 0 rgba(255,255,255,.25);
    list-style: none;
    margin: 0;
    padding: 15px 0;
    float: right;
}
.container .ban li{
    font: normal 14px/25px "微软雅黑";
    height: 25px;
    float: left;
    margin-left: 20px;
}
.container .ban #success:hover ul{
    display: block;
}
#banlist {
    display: none;
}
#logo{
    padding: 0;
    margin: 0;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 10px;
}
#logo img{
    width: 90px;
    height: 42px;
    display: block;
    float: left;
    cursor: pointer;
    margin-top: -3px;
}
#logo span{
    cursor: pointer;
    float: left;
    width: 120px;
    padding: 5px 10px;
    display: block;
    color: #337ab7;
    background-color: rgba(255,255,204,.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fffffcc,endColorstr=#7Fffffcc);
    border-radius: 8px;
}
.container .ban li a{
    color: #fff;
    text-decoration: none;
}
#username{
    color: #fff;
    font-size: 14px;
}
#username .banlist{
    list-style: none;
    margin: 0 0 0 -60px;
    padding: 10px 15px 0;
    background-color: rgba(0,0,0,.6)!important;
    width: 120px;
    position: absolute;
    top: 40px;
    right: 0;
    white-space: nowrap;
    background-color: #666\9;
    *width: 90px;

}
.container .ban .banlist li{
    margin-left: 0;
    margin-bottom: 20px;
    line-height: 20px;
    height: 20px;
    width: 100%;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    text-align: center;
}

/*
    登录、注册的遮罩层
*/
.shade_wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
    *text-align: center;
}
.shade {
    background-color: rgb(0, 0, 0);
    opacity: .3;
    filter: alpha(opacity:30);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.login,.register{
    width: 404px;
    background-color: rgb(255,255,255);
    border: 1px solid darkgray;
    padding: 50px;
    position: relative;
    top: 50%;
    *width: 304px;
}
.login button,.register button {
    *padding: 0!important;
}
.login input,.register input {
    *padding: 0!important;
    *line-height: 34px!important;
}
.login p,
.register p {
    *text-align: left;
}
.register{
    margin: -210px auto 0;
    height: 420px;
    *height: 320px;
}
.login{
    margin: -180px auto 0;
    height: 360px;
    *height: 260px;
}
.login span,.register span{
    width: 21px;
    height: 21px;
    display: block;
    background: url("../images/icon/closeicon.png") no-repeat center top;
    position: absolute;
    top: 5px;
    right: 5px;
}
.login span:hover,.register span:hover{
    cursor: pointer;
}
.login h3,.register h3{
    font-size: 24px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 30px;
}
.login input{
    margin-bottom: 20px;
}
.login .zhuce,.register .denglu{
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
}
.login .zhuce li,.register .denglu li{
    float: right;
}
.login button{
    margin-top: 40px;
}
.colWarning{
    color: #999;
    margin: 0;
    font: normal 14px/35px "微软雅黑";
    text-indent: .2em;
    width: 100%;
    height: 35px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.tips2{
    text-align: center!important;
    color: #a94442;
    font-size: 14px;
}
.tips{
    width: 100%;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    color: #3c763d;
    margin: 0;
    text-align: center!important;
    height: 25px;
    font-size: 14px;
}
.tips a{
    margin: 0;
    line-height: 25px;
}

/*
    导航栏
*/
.outer{
    width: 100%;
    min-width: 1140px;
    margin: 20px auto 0;
}
.menu{
    width: 1140px;
    height: 41px;
    margin: 0 auto;
    text-align: center;
}

.menu .navigation{
    display: inline-block;
    margin: 0 auto;
    list-style: none;
    height: 41px;
    position: relative;
    *zoom: 1;
    *display: inline;
}
.menu .navigation .nav_head{
    background-color: white;
    float: left;
    margin: 0;
    border-bottom: 1px solid #337ab7;
}
.menu .navigation .nav_head a{
    padding: 0 18px;
    font-size: 16px;
    line-height: 40px;
    color: #000;
}
.menu .navigation .nav_head:hover{
    background-color: #337ab7;
    cursor: pointer;
}
.menu .navigation .nav_head:hover a {
    color: #fff;
}
.menu .navigation .nav_head:hover .nav_content{
    display: block;
}
.menu .navigation .nav_content{
    position: absolute;
    top: 41px;
    left: 0;
    background-color: rgba(255,255,255,.95);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5ffffff,endColorstr=#E5ffffff);
    padding: 0 15px;
    *padding: 0;
    border: 1px solid #337ab7;
    display: none;
    z-index: 1;
}
.menu .navigation .nav_content .nav_part{
    width:100%;
    float: left;
    padding-top: 10px;
    cursor: default;
}
.menu .navigation h4{
    font: bold 14px/28px "微软雅黑";
    float: left;
    width: 8%;
    color: #000;
    cursor: text;
    *white-space: nowrap;
    *margin-left: 20px;
    text-align: left;
}
.menu .navigation .nav_list{
    float: right;
    padding: 0 25px 15px;
    max-width: 680px;
    width: 85%;
    margin: 0 0 0 40px;
    list-style: none;
    cursor: default;
    border-bottom: 1px solid #ccc;
    *white-space: nowrap;
    *width: 75%;
    *margin-right: 20px;
}
.menu .navigation .nav_list li{
    margin-right: 15px;
    float: left;
}
.menu .navigation .nav_head .nav_list li a{
    padding: 0;
    font: bold 13px/28px "微软雅黑";
    color: #444;
}
.menu .navigation .nav_list li a:hover{
    color: #0066FF;
}

.big_bg{
    width: 100%;
    height: 550px;
}
.big_bg a{
    display: block;
    min-width: 1140px;
    width: 100%;
    height: 550px;
}

/*
    底部信息footer
*/
.footer{
    display: block;
    width:100%;
    min-width: 1140px;
    margin: 0 auto;
    background-color: #323232;
    *text-align: left;
}
.footer .catalog{
    width: 1140px;
    height: 320px;
    margin: 0 auto;
    padding: 80px 0 50px;
    border-bottom: 1px solid #4d4d4d;
    overflow: hidden;
    *height: 190px;
}
.footer .catalog ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .catalog .footer_part{
    float: left;
    margin: 0 110px 0 0;
}
.footer .catalog .footer_part .footer_title{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 15px 0;
}
.footer .catalog .footer_part li a{
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}
.footer .catalog .footer_part li a:hover{
    color: #0066FF;
}
/*
    公司栏
*/
.footer .catalog .company{
    width: 380px;
    margin: 0;
}
.footer .catalog .company li a{
    margin-right: 5px;
}
.footer .catalog .company li a:hover{
    color: #0066FF;
}

/*
    版权
*/
.footer .copyright{
    width: 1140px;
    height: 120px;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding: 20px 0;
    overflow: hidden;
    *height: 80px;
}
.footer .copyright p{
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

/*
    友情链接
*/
.friend_link{
    width: 100%;
    min-width: 1140px;
    margin: 0 auto;
    background-color: #000;
    position: relative;
}
.friend_link .links{
    width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
}
.friend_link .links span{
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-right: 10px;
}
.friend_link .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.friend_link .links ul li{
    float: left;
    margin-right: 15px;
}
.friend_link .links ul li a{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.friend_link .links ul li a:hover{
    color: #0066FF;
}


/*
    留言咨询栏
*/
.tel_call{
    position: fixed;
    z-index: 2;
    left: 0;
    top:40%;
    width: 300px;
    height: 300px;
    border: 2px solid #337ab7;
    border-left: none;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 30px 0 20px 10px;
}
.tel_call em{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height:20px;
    background: url("/public/images/tel_close.png");
    background-size: cover;
    cursor: pointer;
    background: none\9;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/public/images/tel_close.png",  sizingMethod="scale")
}
#tel_more {
    display: none;
    position: absolute;
    width: 120px;
    height: 82px;
    padding: 12px;
    background-color: #337ab7;
    font: normal 16px "Microsoft YaHei";
    color: #fff;
    right: -140px;
    top: -90px;
}
.tel_call em:hover #tel_more {
    display: block;
}
#word {
    box-sizing: border-box;
    resize: none;
    margin: 0 auto;
    border: 1px solid #337ab7;
    outline: none;
    padding: 10px;
}
.tel_call input {
    outline:none;
    border: 1px solid #337ab7;
    margin: 10px auto;
    text-align: center;
    padding: 5px;
}

#submit {
    display: block;
    background-color: #337ab7;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
/*
    留言图标栏
*/
.tel_logo{
    position: fixed;
    left:0;
    top: 40%;
    width: 40px;
    height: 100px;
    background-color: #337ab7;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}
.tel_logo .tel_title{
    margin: 5px 0 0;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 46px;
    width: 37px;
}