body{
}
/*
    顶头图片，含导航、登录、注册
*/
.big{
    background: url("../images/banner.png") no-repeat top center;
    width: 100%;
    min-width: 1140px;
    margin: 0 auto;
    background-size: cover;
    height: 180px;
}
.hold{
    width: 100%;
    margin: auto;
    background-color: rgba(0,0,0,.3);
}
.container{
    width: 1140px;
    position: relative;
}
.container .ban{
    text-shadow:0 1px 0 rgba(255,255,255,.25);
    list-style: none;
    margin: 0;
    padding: 15px 0;
    float: right;
}
.container .ban li{
    line-height: 25px;
    height: 25px;
    font-size: 14px;
    float: left;
    margin-left: 20px;
}
#logo{
    padding: 0;
    margin: 0;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 10px;
}
#logo img{
    width:20%;
    display: block;
    float: left;
    cursor: pointer;
    margin-top: -3px;
}
#logo span{
    cursor: pointer;
    float: left;
    width: 120px;
    padding: 5px 10px;
    display: block;
    color: #337ab7;
    background-color: rgba(255,255,204,.5);
    border-radius: 8px;
}
.container .ban li a{
    color: #fff;
    text-decoration: none;
}
#username{
    color: #fff;
    font-size: 14px;
    position: relative;
    z-index: 1;
}
#username .banlist{
    list-style: none;
    margin: 0 0 0 -60px;
    padding: 10px 15px 0;
    background-color: rgba(0,0,0,.6);
    width: 120px;
    position: absolute;
    top: 25px;
    left: 50%;
    white-space: nowrap;
}
.container .ban .banlist li{
    margin-left: 0;
    margin-bottom: 20px;
    line-height: 20px;
    height: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
}


/*
    登录、注册的遮罩层
*/
.shade{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 3;
}
.login,.register{
    width: 404px;
    background-color: white;
    border: 1px solid darkgray;
    padding: 50px;
    position: relative;
    top: 50%;
}
.register{
    margin: -210px auto 0;
    height: 420px;
}
.login{
    margin: -180px auto 0;
    height: 360px;
}
.login span,.register span{
    width: 21px;
    height: 21px;
    display: block;
    background: url("../images/closeicon.png") no-repeat center top;
    position: absolute;
    top: 5px;
    right: 5px;
}
.login span:hover,.register span:hover{
    cursor: pointer;
}
.login h3,.register h3{
    font-size: 24px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 30px;
}
.login input{
    margin-bottom: 20px;
}
.login .zhuce,.register .denglu{
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
}
.login .zhuce li,.register .denglu li{
    float: right;
}
.login button{
    margin-top: 40px;
}
.colWarning{
    color: #999;
    margin: 0;
    line-height: 35px;
    text-indent: .2em;
    font-size: 14px;
    width: 100%;
    height: 35px;
    display: inline-block;
}
.tips2{
    text-align: center;
    color: #a94442;
    font-size: 14px;
}
.tips{
    width: 100%;
    display: inline-block;
    color: #3c763d;
    margin: 0;
    text-align: center;
    height: 25px;
    font-size: 14px;
}
.tips a{
    margin: 0;
    line-height: 25px;
}

/*
    导航栏、图片轮转区
*/
.outer{
    width: 100%;
    min-width: 1140px;
    margin: 20px auto 0;
}
.menu{
    width: 1140px;
    margin: 0 auto;
    height: 41px;
    position: relative;
}
.menu .server{
    background-color: rgba(0,0,0,.3);
    width: 230px;
    height: 460px;
    position: absolute;
    z-index: 1;
}
.menu .server h3{
    line-height: 40px;
    text-align: center;
    background-color: #337ab7;
    border-bottom: 1px solid #337ab7;
    color: #000;
}
.menu .server ul{
    padding: 0 10px;
    list-style: none;
    margin: 0;
}
.menu .server .server_part{
    padding: 20px 10px 10px;
    border-bottom: 1px solid #222;
    display: block;
}
.menu .server .server_part a:hover{
    color: #CC6600;
}
.menu .server .server_list{
    padding: 0;
    margin: 15px 0 0;
}
.menu .server .server_list li{
    float: left;
    margin: 0 8px 10px 0;
}
.menu .server .server_list li a{
    font-size: 13px;
    color: white;
}
.menu .server .server_head{
    color: #fff;
    font-size: 16px;
}
.menu .navigation{
    list-style: none;
    padding: 0 0 0 230px;
    height: 41px;
    float: left;
    overflow: hidden;
}
.menu .navigation .nav_head{
    background-color: white;
    float: left;
    margin: 0;
    border-bottom: 1px solid #337ab7;
}
.menu .navigation .nav_head a{
    padding: 0 18px;
    line-height: 40px;
    color: #000;
}
.menu .navigation .nav_head:hover{
    background-color: #337ab7;
    cursor: pointer;
}
.menu .navigation .nav_content{
    position: absolute;
    top: 41px;
    left: 230px;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 1;
}
.menu .navigation .nav_content .nav_part{
    width:100%;
    float: left;
    margin-bottom: 10px;
}
.menu .navigation h4{
    font-size: 14px;
    font-weight: bold;
    float: left;
    line-height: 28px;
    color: #000;
}
.menu .navigation .nav_list{
    padding: 0 30px 10px;
    width: 650px;
    margin: 0 0 0 40px;
    list-style: none;
    float: left;
    border-bottom: 1px solid #ccc;
}
.menu .navigation .nav_list li{
    margin-right: 15px;
    float: left;
}
.menu .navigation .nav_list li a{
    padding: 0;
    line-height: 28px;
    font-size: 13px;
    color: #444;
}
.menu .navigation .nav_list li a:hover{
    color: #cc6600;
}

/*
    图片轮转区域加按钮
*/
.ban_bg{
    position: relative;
}
.ban_bg .bg_part li a{
    margin: -16px auto 0;
    padding: 0;
    display: block;
    width: 100%;
    min-width: 1140px;
    height: 420px;
    background: url("http://liuxue.zmnedu.com/static/index/images/ban_c.jpg") no-repeat top center;
}
.ban_bg .bg_btn{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0 0 0 -100px;
    width: 200px;
    height: 10px;
    left: 50%;
    bottom: 20px;
    overflow: hidden;
}
.ban_bg .bg_btn li{
    width:40px;
    height: 10px;
    float: left;
    background-color: white;
    margin-right: 10px;
}
.ban_bg .bg_btn li:hover{
    background-color: #cc6600;
    cursor: pointer;
}


/*
    下部补充指导栏
*/
.ban_foot{
    width:100%;
    min-width: 1140px;
    margin: 0 auto;
    height:75px;
    background-color: #f4f4f8;
    overflow: hidden;
}
.ban_foot .ban_item{
    width: 1140px;
    margin:  0 auto;
    overflow: hidden;
}
.ban_foot .ban_item ul{
    list-style: none;
    padding: 20px 0;
    overflow: hidden;
    height: 78px;
    width: 1045px;
    margin: 0 auto;
}
.ban_foot .ban_item ul li{
    float: left;
    padding: 0 40px 0 30px;
    border-right: 1px solid #ccc;
    cursor: pointer;
}
.ban_foot .ban_item ul li p{
    margin-right: 30px;
    float: left;
    display: block;
    width: 42px;
    height: 35px;
}
.ban_foot .ban_item ul li div{
    line-height: 20px;
    padding-top: 2px;
    float: left;
}
.ban_foot .ban_item ul li h3{
    font-size: 14px;
    color: #262626;
 }
.ban_foot .ban_item ul li span{
    font-size: 12px;
    color: #828282;
}


/*
    学校搜索栏
*/
.school{
    width:1140px;
    margin: 30px auto 20px;
    height: 330px;
    overflow: hidden;
}
.school .school_search{
    float: left;
    width: 320px;
}
.school .school_search h3{
    font-size: 16px;
    color: #337ab7;
    padding-bottom: 10px;
}
.school .school_search .school_search_content{
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    padding: 25px 30px 15px;
}
.school .school_search .search_icon{
    float: left;
    border: 1px solid #337ab7;
    width: 200px;
    height: 34px;
    padding-left: 35px;
    background: url("/public/images/search_icon.png") no-repeat -25px -52px;
}
#school_name{
    width: 100%;
    height: 32px;
    border: none;
    outline: medium;
    padding: 3px 5px 3px 1px;
    font-size: 15px;
    font-weight: normal;
}
.school .school_search_content .search{
    float: left;
    display: block;
    height: 34px;
    width: 58px;
    background-color: #337ab7;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.school .school_search_content p{
    margin-top: 50px;
    font-size: 14px;
    font-weight: 700;
    color: #818181;
}
.school .school_search_content .school_img{
    width: 100%;
    height: 176px;
}
#uk,#au,#usa,#nz,#jpn,#sg{
    display: block;
    float: left;
}
#uk div,#au div,#usa div,#nz div,#jpn div,#sg div{
    float: left;
    border: 1px solid #d9e8ff;
    position: relative;
    height: 36px;
    width: 113px;
    margin: 22px 0 10px 10px;
}
#uk div:hover,#au div:hover,#usa div:hover,#nz div:hover,#jpn div:hover,#sg div:hover{
    border: 2px solid #337ab7;
    padding: 0;
}
#uk i,#au i,#usa i,#nz i,#jpn i,#sg i{
    position: absolute;
    left: 0;
    bottom: 0;
    float: left;
    display: block;
    width: 60px;
    height: 53px;
}
#uk span,#au span,#usa span,#nz span,#jpn span,#sg span{
    float: left;
    display: block;
    text-align: center;
    line-height: 36px;
    margin-left: 60px;
}

/*
    学校攻略资讯信息
*/
.school_news{
    float: right;
    width: 310px;
    overflow: hidden;
}
.school_news .school_news_title{
    border-bottom: 1px solid #ccc;
    margin: 0 0 0 0 ;
}
.school_news .school_news_title p{
    float: left;
    margin: 0 10px;
}
.school_news .school_news_title a{
    font-size: 16px;
    color: #818181;
    display: block;
    float: left;
    text-align: center;
    padding-bottom: 11px;
}
.school_news .school_strategy{
    padding: 20px 0 0 ;
}
.school_news .school_strategy .strategy_img{
    width: 310px;
    height: 100px;
    display: block;
    margin: 0 0 15px 0;
}
.school_news .school_strategy ul{
    list-style: square;
}
.school_news .school_strategy ul li{
    list-style-position: inside;
    margin: 0 0 18px 0;
}
.school_news .school_strategy ul a{
    margin: -14px 0 0 13px;
    display: block;
    font-size: 13px;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.school_news .school_strategy ul a:hover{
    color: #259;
}


/*
    热门学校
*/
.popular_school{
    width: 450px;
    float: left;
    margin: 0 30px;
}
.popular_school .popular_school_title{
    border-bottom: 1px solid #ccc;
}
.popular_school .popular_school_title h3{
    color: #337ab7;
    font-size: 16px;
    float: left;
    padding-bottom: 10px;
}
.popular_school .popular_school_title a{
    float: right;
    font-size: 13px;
    padding-top: 10px;
}
.popular_school .school_logo{
    border-bottom: 1px dotted #ccc;
    padding-bottom: 6px;
}
.popular_school .school_logo ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.popular_school .school_logo ul li{
    height: 120px;
    width: 130px;
    margin: 22px 0 0 0 ;
    float: left;
}
.popular_school .school_logo ul .mid_logo{
    margin: 22px 30px 0;
}
.popular_school .school_logo .logo_img{
    width: 130px;
    height: 50px;
    display: block;
    margin:  0 0 10px 0;
}
.popular_school .school_logo .logo_cn{
    color: #555;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.popular_school .school_logo .logo_en{
    color: #b7b7b7;
    font-size: 12px;
}
.popular_school .school_logo a:hover{
    color: #259;
}

/*
    留学流程
*/
/*通用标题样式*/
.section_title{
    border-bottom: 1px solid #337ab7;
}
.section_title p{
    font-size: 22px;
    line-height: 50px;
    color: #333;
    font-weight: normal;
}

/*单一*/
.study_procedure{
    width:1140px;
    margin: 0 auto;
}
.study_procedure .procedure{
    padding: 30px 0;
}
.study_procedure .procedure .procedure_part{
    float: left;
    display: block;
    border: 1px solid #333;
    padding: 25px 30px;
    margin-right: 28px;
}
.study_procedure .procedure .procedure_last{
    margin: 0;
    float: right;
}
.study_procedure .procedure .procedure_part:hover{
    background-color: #337ab7;
    border: 1px solid #337ab7;
}
.study_procedure .procedure i{
    display: block;
    width: 50px;
    height: 43px;
    margin: 0 auto 20px;
}
.study_procedure .procedure p{
    font-size: 14px;
    color: #333;
}

/*
    留学板块通用样式
*/
.study_abroad{
    width: 1140px;
    margin: 0 auto 10px;
}

/*
    留学分栏
*/
.study_abroad .study_abroad_content{
    width: 79%;
    height: 252px;
    margin: 20px 0;
    border: 1px solid #FFCC33;
    float: left;
    overflow: hidden;
}
.study_abroad .study_abroad_nav{
    float: left;
    width: 15%;
    background: #FFCC33;
}
.study_abroad .study_abroad_nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.study_abroad .study_abroad_nav ul li{
    text-align: center;
}
.study_abroad .study_abroad_nav ul a:hover{
    background-color: #fff;
    color: #FFCC33;
}

/*留给onmousemove*/
.study_abroad .study_abroad_nav ul a{
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    width: 100%;
    height: 100%;
}

/*留学---中部*/
.study_abroad_content .study_abroad_mid{
    margin: 0 22px;
    width: 80%;
    height: 100%;
    float: left;
}
.study_abroad_content .study_abroad_mid .mid_article{
    border-bottom: 1px dashed #ccc;
    height: 48%;
    overflow: hidden;
    margin-top: 10px;
}
.study_abroad_content .mid_article ul{
    width: 45%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.study_abroad_content .mid_article ul li{
    margin-bottom: 10px;
}
.study_abroad_content .mid_article ul li a{
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.study_abroad_content .mid_article ul li a:hover{
    color: #FFCC33;
    font-size: 15px;
}

.study_abroad .mid_img{
    position: relative;
    clear: both;
    width: 692px;
    height: 131px;
    margin: 4px 10px 0;
    background: url("/public/images/study_bg.png");
}
.study_abroad .mid_img p{
    width: 81px;
    height: 48px;
    float: left;
    text-align: center;
    position: absolute;
    top:58px;
    cursor: pointer;
}
.study_abroad .mid_img p a{
    line-height: 48px;
    font-size: 14px;
    color: #333;
}
.study_abroad .mid_img p:nth-child(1) a:hover{
    color: rgb(246,113,8);
}
.study_abroad .mid_img p:nth-child(2){
    left: 153px;
    padding-top: 4px;
}
.study_abroad .mid_img p:nth-child(2) a{
    display: block;
    line-height: 20px;
}
.study_abroad .mid_img p:nth-child(2) a:hover{
    color: rgb(204,74,162);
}
.study_abroad .mid_img p:nth-child(3){
    left: 305px;
}
.study_abroad .mid_img p:nth-child(3) a:hover{
    color: rgb(154,201,69);
}
.study_abroad .mid_img p:nth-child(4){
    left: 458px;
}
.study_abroad .mid_img p:nth-child(4) a:hover{
    color: rgb(4,150,187);
}
.study_abroad .mid_img p:nth-child(5){
    left: 610px;
}
.study_abroad .mid_img p:nth-child(5) a:hover{
    color: rgb(50,154,153);
}
/*留学---案例部分*/
.study_abroad .study_abroad_case{
    width: 20%;
    height: 263px;
    float: right;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 13px 0;
    overflow: hidden;
}
.study_abroad .case_title a{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    float: left;
    padding: 5px;
    width: 50%;
    text-align: center;
    color: #333;
}
.study_abroad .case_title a:hover{
    background-color: #337ab7;
}
.study_abroad .case_content p{
    color: #333;
    font-size: 12px;
    background-color: #e7e7e7;
    text-indent: 1em;
    line-height: 34px;
    margin-bottom: 2px;
    cursor: pointer;
}
.study_abroad .case_content ul{
    display: none;
    list-style: none;
    margin: 0;
    padding: 5px 0;
}
.study_abroad .case_content ul li{
    color: #777;
    font-size: 12px;
    text-indent: 1em;
    line-height: 20px;
}

/*
    研究留学样式修改
*/
.postgraduate .study_abroad_content{
    border: 1px solid #66CCCC;
}
.postgraduate .study_abroad_nav{
    background: #66CCCC;
}
.postgraduate .study_abroad_nav ul a:hover{
    color: #66CCCC;
}
.postgraduate .study_abroad_content .mid_article ul li a:hover{
    color: #66CCCC;
}

/*
    中学留学样式修改
*/
.middle_school .study_abroad_content{
    border: 1px solid #993333
}
.middle_school .study_abroad_nav{
    background: #993333;
}
.middle_school .study_abroad_nav ul a:hover{
    color: #993333;
}
.middle_school .study_abroad_content .mid_article ul li a:hover{
    color: #993333;
}
.middle_school .mid_img{
    position: relative;
    clear: both;
    width: 692px;
    height: 131px;
    margin: -10px 10px 0;
    background: url("/public/images/study_bg2.png");
}
.middle_school .mid_img p{
    width: 94px;
    height: 45px;
    float: left;
    text-align: center;
    position: absolute;
    top:43px;
}
.middle_school .mid_img p a{
    line-height: 48px;
    font-size: 14px;
    color: #333;
}
.middle_school .mid_img p:nth-child(2){
    top:15px;
    left: 153px;
}
.middle_school .mid_img p:nth-child(2) a{
    display: block;
    line-height:48px;
}
.middle_school .mid_img p:nth-child(3){
    left: 302px;
}
.middle_school .mid_img p:nth-child(4){
    left: 453px;
}
.middle_school .mid_img p:nth-child(5){
    left: 602px;
}
.middle_school .mid_img p a:hover{
    color: #fff !important;
}


/*
    能力培训样式
*/
.training{
    width: 1140px;
    margin: 0 auto;
}
.training .training_list{
    list-style: none;
    margin: 30px 19px 0 20px;
    padding: 0;
}
.training .training_list li{
    float: left;
    width: 147px;
    text-align: center;
    background-color: #136cbf;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 12px;
}
.training .training_list li:nth-child(2){
    background-color: #bf3e5a;
}
.training .training_list li:nth-child(3){
    background-color: #c8a53a;
}
.training .training_list li:nth-child(4){
    background-color: #9170a6;
}
.training .training_list li:nth-child(5){
    background-color: #c05958;
}
.training .training_list li:nth-child(6){
    background-color: #5597a1;
}
.training .training_list li:nth-child(7){
    background-color: #575186;
}
.training .training_list li a{
    font-size: 20px;
    line-height: 55px;
    font-weight: bold;
    color: #fff;
}
.training .training_list li a:hover{
    color: #333;
}
.training .training_block{
    margin: 30px 0 70px;
    width: 100%;
}

/*培训板块通用样式*/
.training_part{
    width: 371px;
    border-left: 1px solid #c8a53a;
    background-color: #fafafa;
    float: left;
    margin: 0 13px 25px 0;
    overflow: hidden;
}
.training_part .training_img{
    width: 100px;
    height: 120px;
    padding: 19px 0;
    float: left;
}
.training_part .training_img i{
    margin: 0 auto;
    display: block;
    width:46px;
    height: 46px;
    background: url("/public/images/traning_icon.png") -3px -55px;
}
.training_part .training_img p{
    text-align: center;
}
.training_part .training_img p a{
    color: #c8a53a;
    font-size: 16px;
    line-height: 20px;
}
.training_part .training_content{
    float: right;
    width: 270px;
}
.training_part .training_content ul{
    list-style: none;
    margin: 0;
    padding: 20px 0;
}
.training_part .training_content ul span{
    color: #666;
}
.training_part .training_content ul a{
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: -16px;
    padding-left: 12px;
}
.training_part .training_content ul a:hover{
    color: #990033;
}

/*培训模版样式修改*/
.training_part .skill i{
    background: url("/public/images/traning_icon.png") -61px -55px;
}
.training_part .experience i{
    background: url("/public/images/traning_icon.png") -126px -58px;
}
.training_part .direct i{
    background: url("/public/images/traning_icon.png") -249px -63px;
}
.training_part .guide i{
    background: url("/public/images/traning_icon.png") -366px -55px;
}
.training_part .learn i{
    background: url("/public/images/traning_icon.png") -416px -67px;
}


/*
    教师阵容通用样式
*/
.teacher{
    width:1140px;
    margin: 0 auto 60px;
}
.teacher h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}
.teacher p{
    text-align: center;
    font-size: 22px;
    color: #44637d;
}
.teacher ul{
    list-style: none;
    margin: 40px 0 0;
    padding: 0 84px;
}
.teacher ul li{
    float: left;
    margin-right: 36px;
    width: 132px;
    height: 149px;
}
.teacher .teacher_part a{
    display: block;
}
.teacher .teacher_part .teacher_img{
    display: block;
    margin: 0 auto 0;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: url("/public/images/teacher1.png") 50% no-repeat;
    background-size: cover;
}
.teacher ul h3{
    font-size: 16px;
    text-align: center;
    color: #333;
    line-height: 35px;
}
.teacher ul p{
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
}
.teacher .teacher_part a:hover h3{
    color: #337ab7;
}
.teacher .teacher_more{
    display: block;
    margin: 40px auto 0;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: #337ab7;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
}

/*教师阵容样式修改*/
.teacher .line_2{
    padding: 0;
}

/*
    联系方式
*/
.connect{
    width: 1140px;
    margin: 0 auto 30px;
    position: relative;
}
.connect span{
    position: absolute;
    left:100px;
    top: 2px;
    color: #666;
    font-size: 17px;
    line-height: 50px;
}
.connect .company_img{
    display: block;
    width: 176px;
    height: 115px;
    background: url("/public/images/company_logo.png") no-repeat;
    background-size: cover;
    margin: 30px 20px 0 0;
    float: left;
}
.connect .connect_right{
    float: left;
    margin: 30px 0;
}
.connect .connect_right h3{
    font-size: 16px;
    line-height: 30px;
    clear: both;
}
.connect .connect_right .address{
    width: 944px;
    padding: 15px 0;
    border-top: 1px solid #999;
    float: left;
}
.connect .connect_right p{
    font-size: 12px;
    line-height: 20px;
}
.connect .connect_right i{
    margin: 0 0 0 20px;
    display: block;
    width: 200px;
    height: 75px;
    float: right;
    background: url("/public/images/company_life.png") no-repeat;
    background-size: cover;
}


/*
    底部信息footer
*/
.footer{
    width:100%;
    min-width: 1140px;
    margin: 0 auto;
    background-color: #323232;
}
.footer .catalog{
    width: 1140px;
    margin: 0 auto;
    padding: 80px 0 50px;
    border-bottom: 1px solid #4d4d4d;
}
.footer .catalog ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .catalog .footer_part{
    float: left;
    margin: 0 110px 0 0;
}
.footer .catalog .footer_part .footer_title{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 15px 0;
}
.footer .catalog .footer_part li a{
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}
.footer .catalog .footer_part li a:hover{
    color: #cc6600;
}
/*
    公司栏
*/
.footer .catalog .company{
    width: 380px;
    margin: 0;
}
.footer .catalog .company li a{
    margin-right: 5px;
}
.footer .catalog .company li a:hover{
    color: #cc6600;
}

/*
    版权
*/
.footer .copyright{
    width: 1140px;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding: 20px 0;
}
.footer .copyright p{
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

/*
    友情链接
*/
.friend_link{
    width: 100%;
    min-width: 1140px;
    margin: 0 auto;
    background-color: #000;
    position: relative;
}
.friend_link .links{
    width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
}
.friend_link .links span{
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-right: 10px;
}
.friend_link .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.friend_link .links ul li{
    float: left;
    margin-right: 15px;
}
.friend_link .links ul li a{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.friend_link .links ul li a:hover{
    color: #cc6600;
}


/*
    电话咨询栏
*/
.tel_call{
    position: fixed;
    z-index: 2;
    left: 0;
    top:40%;
    width: 136px;
    height: 220px;
    border: 2px solid #337ab7;
    border-left: none;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.tel_call em{
    display: block;
    position: relative;
    left: 116px;
    top: 0;
    width: 20px;
    height:20px;
    background: url("/public/images/tel_close.png");
    background-size: cover;
    cursor: pointer;
}
.tel_call p{
    text-align: center;
    font-size: 18px;
    color: #666;
    font-weight: bold;
    margin: 5px 0;
    white-space: nowrap;
}
.tel_call i{
    display: block;
    margin: 5px auto;
    width:120px;
    height: 90px;
    background: url("/public/images/tel.png");
    background-size: cover;
}
.tel_call input{
    width: 120px;
    margin: 0 0 0 6px;
    font-size: 12px;
    border: 1px solid #337ab7;
}
.tel_call input:focus{
    outline: none;
    border: 1px solid #259;
}
.tel_call .tel_on{
    width: 100px;
    height:25px;
    margin: 10px auto;
    background-color: #337ab7;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

/*
    电话图标栏
*/
.tel_logo{
    position: fixed;
    left:0;
    top: 40%;
    width: 40px;
    height: 100px;
    background-color: #337ab7;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}
.tel_logo .tel_title{
    margin: 5px 0 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}
.tel_logo i{
    display: block;
    width: 30px;
    height: 36px;
    background: url("/public/images/tel_logo.png") no-repeat;
    background-size: cover;
    margin: 10px auto;
}
