.page{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.pagination li a{
    margin-right: 10px;
}
.pagination li a:hover{
    border-color: #337ab7;
    background-color: #fff;
}
.pagination li .none{
    border: none;
}
.pagination li .none:hover{
    background-color: #fff;
    border-color: #fff;
}