/*
    大学列表样式
*/
.search_bar{
    width:1140px;
    margin: 20px auto 60px;
}
.section_title{
    border-bottom: 1px solid #337ab7;
}
.section_title p{
    font-size: 22px;
    line-height: 50px;
    color: #333;
    font-weight: normal;
}

/*search_input公共样式*/
.search_input{
    width: 100%;
    height: 59px;
    padding: 15px;
    clear: both;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}

/*
    搜索框样式
*/
.search_input p{
    float: left;
    font-size: 14px;
    line-height: 28px;
    color: #818181;
}
.search_icon{
    float: left;
    border: 1px solid #337ab7;
    width: 200px;
    height: 28px;
    padding-left: 35px;
    background: url("/public/images/icon/search_icon.png") no-repeat -25px -56px;
}
#school_name{
    width: 100%;
    height: 26px;
    border: none;
    outline: medium;
    padding: 3px 5px 3px 1px;
    font-size: 12px;
    font-weight: normal;
}
.search{
    float: left;
    display: block;
    height: 28px;
    width: 48px;
    background-color: #337ab7;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border: none;
    outline: none;
}

/*
    选项框公共样式
*/
.search_input p{
    float: left;
    font-size: 14px;
    line-height: 28px;
    color: #818181;
}
.search_input a{
    float: left;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #333;
    margin-right: 35px;
    padding: 0 5px;
}
.search_input a:nth-child(2){
    color: #fff;
    background-color: #337ab7;
}

/*
    学校显示栏
*/
.school_bar{
    width:1140px;
    margin: 0 auto 40px;
}
.school_bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.school_bar ul li{
    float: left;
    width: 250px;
    height: 150px;
    border: 1px solid #99CCFF;
    padding: 15px;
    margin: 0 46px 40px 0;
}
.school_bar ul li:hover{
    border: 1px solid #3366CC;
}
.school_bar ul li:nth-child(4n+0){
    float: right;
    margin: 0 0 20px;
}
.school_bar ul .school_img{
    float: left;
    width: 130px;
    height: 50px;
}
.school_bar ul .rank{
    float: right;
    border:1px solid #337ab7;
}
.school_bar ul span{
    font-size: 12px;
}
.school_bar ul .rank span{
    float: left;
}
.school_bar ul .rank .rank_num{
    width: 38px;
    line-height: 18px;
}
.school_bar ul .rank span:nth-child(1){
    padding: 1px 2px;
    color: #fff;
    background-color: #337ab7;
    line-height: 18px;
}
.school_bar ul .rank_num{
    text-align: center;
}
.school_bar ul .school_zn,.school_bar ul .school_en{
    clear: both;
    display: block;
    white-space: nowrap;
    font-size: 12px;
    line-height: 25px;
    color: #333;
}
.school_bar ul .school_zn:hover,.school_bar ul .school_en:hover{
    text-decoration: underline;
    color: #337ab7;
}
.school_bar ul p{
    float: left;
    line-height: 16px;
}
.school_bar ul .love{
    width: 12px;
    height: 12px;
    background: url("/public/images/school/love.png") no-repeat;
    background-size: cover;
    padding-left: 12px;
    font-style: normal;
    float: right;
    font-size: 12px;
    line-height: 12px;
    text-indent: .5em;
    margin: 2px 28px 0 0;
    cursor: pointer;
}
.school_bar ul .area span{
    color: #999;
}
.school_bar ul .area .school_area{
    padding-left: 10px;
    color: #337ab7;
}