{% extends '../layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/" target="_blank">官网首页</a></li>
    <li><span>考试列表</span></li>
</ol>

<h3 style="font-size: 24px;font-weight: bold; line-height: 50px">考试列表</h3>

<table class="table table-hover table-striped">
    <tr>
        <th>考试ID</th>
        <th>考试名称</th>
        <th>考试顺序</th>
        <th>操作</th>
    </tr>
    {% for test in tests %}
    <tr>
        <td>{{test._id.toString()}}</td>
        <td>{{test.Test_name}}</td>
        <td>{{test.Test_order}}</td>
        <td>
            <a href="/admin/study_abroad/test/edit?id={{test._id.toString()}}">修改</a>
             | <a href="/admin/study_abroad/test/delete?id={{test._id.toString()}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}