{% extends '../layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/" target="_blank">官网首页</a></li>
    <li><span>导航文章列表</span></li>
</ol>

<h3 style="font-size: 24px;font-weight: bold; line-height: 50px">导航文章列表</h3>

<table class="table table-hover table-striped">
    <tr>
        <th>留学项目</th>
        <th>留学导航</th>
        <th>文章标题</th>
        <th>url</th>
        <th>文章标题顺序</th>
        <th>操作</th>
    </tr>
    {% for abroad_content in abroad_contents %}
    <tr>
        <td>{{abroad_content.abroad.Abroad_name}}</td>
        <td>{{abroad_content.abroad_nav.Abroad_nav_name}}</td>
        <td>{{abroad_content.Abroad_content_name}}</td>
        <td>{{abroad_content.Abroad_content_url}}</td>
        <td>{{abroad_content.Abroad_content_order}}</td>
        <td>
            <a href="/admin/study_abroad/nav/content/edit?id={{abroad_content._id.toString()}}">修改</a>
             | <a href="/admin/study_abroad/nav/content/delete?id={{abroad_content._id.toString()}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
<!--引用模版，相当于引用文件，在这里引用page.html里面的内容，不一定是html文件，其他都可以-->
{%include '../page.html'%}

{% endblock %}