{% extends '../layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/" target="_blank">官网首页</a></li>
    <li><span>培训分类添加</span></li>
</ol>

<h3 style="font-size: 24px;font-weight: bold; line-height: 50px;margin-bottom: 20px;border-bottom: 1px solid #ccc">培训分类添加</h3>

<form role="form" method="post">
    <div class="form-group">
        <label for="test">考试项目：</label>
        <select name="test" id="test" class="form-control" style="margin: 10px 0">
            {% for test in tests %}
            <option value="{{test.id}}">{{test.Test_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="training_name">培训分类名称：</label>
        <input style="margin: 5px 0 20px" type="text" class="form-control" id="training_name" placeholder="请输入培训分类名称" name="training_name">
        <label for="training_url">培训分类url：</label>
        <input style="margin: 5px 0 20px" type="text" class="form-control" id="training_url" placeholder="请输入培训分类要跳转的链接，默认为'/'" name="training_url">
        <label for="training_order">培训分类顺序：</label>
        <input style="margin: 5px 0 20px" type="text" class="form-control" id="training_order" placeholder="请输入培训分类显示顺序，小数字排前面，默认0" name="training_order">
    </div>
    <button type="submit" class="btn btn-default">提交</button>
</form>

{% endblock %}