{% extends '../layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/" target="_blank">官网首页</a></li>
    <li><span>导航列表</span></li>
</ol>

<h3 style="font-size: 24px;font-weight: bold; line-height: 50px">导航列表</h3>

<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>导航名称</th>
        <th>导航顺序</th>
        <th>导航url</th>
        <th>操作</th>
    </tr>
    {% for navigation in navigations %}
    <tr>
        <td>{{navigation._id.toString()}}</td>
        <td>{{navigation.Nav_name}}</td>
        <td>{{navigation.Nav_order}}</td>
        <td>{{navigation.Nav_url}}</td>
        <td>
            <a href="/admin/navigation/edit?id={{navigation._id.toString()}}">修改</a>
             | <a href="/admin/navigation/delete?id={{navigation._id.toString()}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}