{% extends '../layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/">官网首页</a></li>
    <li><span>标题内容编辑</span></li>
</ol>

<h3 style="font-size: 24px;font-weight: bold; line-height: 50px;margin-bottom: 20px;border-bottom: 1px solid #ccc">标题内容编辑 - {{nav_content.Nav_content_name}}</h3>

<form role="form" method="post">
    <div class="form-group">
        <label for="navigation_edit">导航名称：</label>
        <select name="navigation" id="navigation_edit" class="form-control" style="margin: 10px 0">
            {% for navigation in navigations %}
                {% if nav_content.navigation._id.toString() == navigation._id.toString() %}
                    <option value="{{navigation.id}}" selected>{{navigation.Nav_name}}</option>
                {% else %}
                    <option value="{{navigation.id}}">{{navigation.Nav_name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="nav_title_edit">导航名称：</label>
        <select name="nav_title" id="nav_title_edit" class="form-control" style="margin: 10px 0">
            {% for nav_title in nav_titles %}
                {% if nav_content.nav_title._id.toString() == nav_title._id.toString() %}
                    <option value="{{nav_title.id}}" selected>{{nav_title.Nav_title}}</option>
                {% else %}
                    <option value="{{nav_title.id}}">{{nav_title.Nav_title}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="Nav_content_name">标题内容：</label>
        <input style="margin: 5px 0 20px" type="text" class="form-control" id="Nav_content_name" value="{{nav_content.Nav_content_name}}" name="Nav_content_name">
        <label for="Nav_content_url">标题内容url：</label>
        <input style="margin: 5px 0 20px" type="text" class="form-control" id="Nav_content_url" value="{{nav_content.Nav_content_url}}" name="Nav_content_url">
        <label for="Nav_content_order">标题内容顺序：</label>
        <input style="margin: 5px 0 20px" type="text" class="form-control" id="Nav_content_order" value="{{nav_content.Nav_content_order}}" name="Nav_content_order">
    </div>
    <button type="submit" class="btn btn-default">提交</button>
</form>
<script src="/public/js/system.js"></script>
{% endblock %}