{% extends 'layout_article.html' %}

{% block title %}

<title>海外留学官网-文章列表</title>

{% endblock %}
{% block article %}

<!--面包屑导航开始-->
<nav class="bread_wrap">
    <div class="bread_content">
        <span>您现在的位置：</span>
        <ol>
            <li><a href="/">英国留学首页</a></li> &gt;
            {% if article_type %}
            <li><a href="/Abroad_article?article_rank=&article_type={{article_type}}&article_abroad=">{{article_type}}</a></li>
            {% else %}
            <li><span style="color: #666;font-weight: normal">文章列表</span></li>
            {% endif %}
        </ol>
    </div>
</nav>
<!--面包屑导航结束-->

<!--文章开始-->
<section class="article clearfix">
    <div class="article_bar">
        <div class="article_input_list" id="article_list">
            <h3>文章列表筛选（共有{{length}}篇）</h3>
            <div class="article_input clearfix">
                <p>推荐：</p>
                <a href="/Abroad_article?article_rank=&article_type={{article_type}}&article_abroad={{article_abroad}}" class="{% if article_rank == '' %}active{%else%}{%endif%}">不限</a>
                <a href="/Abroad_article?article_rank=最新上传&article_type={{article_type}}&article_abroad={{article_abroad}}" class="{% if article_rank == '最新上传' %}active{%else%}{%endif%}">最新上传</a>
                <a href="/Abroad_article?article_rank=热度排行&article_type={{article_type}}&article_abroad={{article_abroad}}" class="{% if article_rank == '热度排行' %}active{%else%}{%endif%}">热度排行</a>
            </div>
            <div class="article_input clearfix">
                <p>文章类型：</p>
                <a href="/Abroad_article?article_rank={{article_rank}}&article_type=&article_abroad={{article_abroad}}" class="{% if article_type == '' %}active{%else%}{%endif%}">不限</a>
                <a href="/Abroad_article?article_rank={{article_rank}}&article_type=留学规划&article_abroad={{article_abroad}}" class="{% if article_type == '留学规划' %}active{%else%}{%endif%}">留学规划</a>
                <a href="/Abroad_article?article_rank={{article_rank}}&article_type=专业推荐&article_abroad={{article_abroad}}" class="{% if article_type == '专业推荐' %}active{%else%}{%endif%}">专业推荐</a>
                <a href="/Abroad_article?article_rank={{article_rank}}&article_type=院校申请&article_abroad={{article_abroad}}" class="{% if article_type == '院校申请' %}active{%else%}{%endif%}">院校申请</a>
                <a href="/Abroad_article?article_rank={{article_rank}}&article_type=签证指南&article_abroad={{article_abroad}}" class="{% if article_type == '签证指南' %}active{%else%}{%endif%}">签证指南</a>
                <a href="/Abroad_article?article_rank={{article_rank}}&article_type=行程准备&article_abroad={{article_abroad}}" class="{% if article_type == '行程准备' %}active{%else%}{%endif%}">行程准备</a>
                <a href="/Abroad_article?article_rank={{article_rank}}&article_type=中学留学&article_abroad={{article_abroad}}" class="{% if article_type == '中学留学' %}active{%else%}{%endif%}">中学留学</a>
            </div>
            <div class="article_input clearfix">
                <p>学历：</p>
                <a href="/Abroad_article?article_rank={{article_rank}}&article_type={{article_type}}&article_abroad=" class="{% if article_abroad == '' %}active{%else%}{%endif%}">不限</a>
                <a href="/Abroad_article?article_rank={{article_rank}}&article_type={{article_type}}&article_abroad=英国本科留学" class="{% if article_abroad == '英国本科留学' %}active{%else%}{%endif%}">本科</a>
                <a href="/Abroad_article?article_rank={{article_rank}}&article_type={{article_type}}&article_abroad=英国研究生留学" class="{% if article_abroad == '英国研究生留学' %}active{%else%}{%endif%}">研究生</a>
                <a href="/Abroad_article?article_rank={{article_rank}}&article_type={{article_type}}&article_abroad=英国中学留学" class="{% if article_abroad == '英国中学留学' %}active{%else%}{%endif%}">中学</a>
            </div>
        </div>
        <div class="article_list">
            <ul class="article_content" id="article_content">
                {% for article in articles %}
                <li>
                    <a href="/Abroad_article/content?id={{article._id.toString()}}" data-id="{{article._id.toString()}}" target="_blank"><h3>{{article.Abroad_content_name}}</h3></a>
                    <span>阅读量 <i>{{article.Abroad_content_hot || 0}}</i></span>
                    <a href="/Abroad_article/content?id={{article._id.toString()}}" class="article_detail" data-id="{{article._id.toString()}}" target="_blank">【详细】</a>
                </li>
                {% endfor %}
            </ul>
            {%include 'page_article.html'%}
        </div>
    </div>
    <div class="article_sidebar">
        <div class="article_sidebar_part">
            <div class="article_sidebar_p">
                <h3>成功案例</h3>
                <div></div>
            </div>
            <div class="article_sidebar_p">
                <h3>专家博文</h3>
                <div></div>
            </div>
            <div class="article_sidebar_p">
                <h3>留学服务</h3>
                <div></div>
            </div>
            <div class="article_sidebar_p">
                <h3>联系我们</h3>
                <div></div>
            </div>
        </div>
    </div>
</section>
<!--文章结束-->

{% endblock %}