<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海外留学官网</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/css/main_index.css">
    <script src="/public/js/jquery-3.2.0.min.js"></script>
    <script src="/public/js/npm.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/features">特色</a>
                </li>
                <li>
                    <a href="#">注册</a>
                </li>
                <li>
                    <a href="#">登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="login">
    <h3>登录海外网</h3>
    <input type="text" placeholder="手机号/邮箱">
    <input type="text" placeholder="密码">
    <button>登录</button>
</div>
<div class="wrap">

</div>
</body>
</html>