<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海外留学官网</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/css/main_index.css">
    <link rel="stylesheet" href="/public/css/reset.css">
    <script src="/public/js/jquery-3.2.0.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/index.js"></script>
</head>
<body>

<!--顶部logo加登录位置开始-->
<div class="big">
    <nav id="mainNav" class="navbar hold">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="ban">
                <li id="logo">
                    <img src="/public/images/logo.png" alt="海外留学网">
                    <span>海外留学网</span>
                </li>
                <li>
                    <a class="page-scroll" href="/features">特色</a>
                </li>
                {% if userInfo.id %}
                <li id="success">
                    <div id="username">欢迎！{{userInfo.username}}
                        <ul class="banlist" id="banlist" style="display: none">
                            <li><a href="javascript:">个人中心</a></li>
                            <li><a href="javascript:">学习中心</a></li>
                            {% if userInfo.isAdmin %}
                            <li><a href="/admin" target="_blank">进入管理</a></li>
                            {% else %}
                            {% endif %}
                            <li><a href="javascript:" id="logout">退出</a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li>
                    <a href="javascript:" id="register">注册</a>
                </li>
                <li>
                    <a href="javascript:" id="login">登录</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
</div>
<!--顶部结束-->

<!--登录开始-->
<div class="shade" style="display: none" id="loginBox">
    <div class="login">
        <span></span>
        <h3>登录海外留学网</h3>
        <label for="inputEmail" class="sr-only"></label>
        <input type="text" class="form-control" id="inputEmail" name="username" placeholder="手机号/邮箱">
        <label for="password" class="sr-only"></label>
        <input type="password" id="password" class="form-control" name="password" placeholder="密码">
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <p class="colWarning textCenter tips2"></p>
        <ul class="zhuce">
            <li><a href="javascript:">新用户注册</a></li>
        </ul>
    </div>
</div>
<!--登录结束-->

<!--注册开始-->
<div class="shade" style="display: none" id="registerBox">
    <div class="register">
        <span></span>
        <h3>注册海外留学网帐号</h3>
        <label for="inputEmail2" class="sr-only"></label>
        <input type="text" class="form-control" id="inputEmail2" name="username">
        <p class="colWarning textCenter phone">请填写手机号码或者邮箱</p>
        <label for="password2" class="sr-only"></label>
        <input type="password" id="password2" class="form-control" name="password">
        <p class="colWarning textCenter password">密码6~16个字符，区分大小写</p>
        <label for="repassword2" class="sr-only"></label>
        <input type="password" id="repassword2" class="form-control" name="repassword">
        <p class="colWarning textCenter repassword">请再次填写密码</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">免费注册</button>
        <p class="tips"><a href="javascript:"></a></p>
        <ul class="denglu">
            <li><a href="javascript:">已有帐号登录</a></li>
        </ul>
    </div>
</div>
<!--注册结束-->

<!--导航部分开始-->
<nav class="outer clearfix">
    <div class="menu clearfix">
        <div class="server clearfix">
            <h3>留学服务</h3>
            <ul>
                <li class="server_part clearfix">
                    <a class="server_head clearfix" href="">考试培训</a>
                    <ul class="server_list clearfix">
                        <li><a href="">一对一课程</a></li>
                        <li><a href="">学习规划</a></li>
                        <li><a href="">封闭保分班</a></li>
                        <li><a href="">美国sat封闭保分班</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="navigation">
            <li class="nav_head">
                <a href="">首页</a>
            </li>
            <li class="nav_head">
                <a href="">英国本科留学</a>
                <div class="nav_content">
                    <div class="nav_part">
                        <h4>留学申请</h4>
                        <ul class="nav_list clearfix">
                            <li><a href="">美本申请官方指南</a></li>
                            <li><a href="">英本申请官方指南</a></li>
                            <li><a href="">美国留学评估</a></li>
                            <li><a href="">美本申请官方指南</a></li>
                            <li><a href="">英本申请官方指南</a></li>
                            <li><a href="">美国留学评估</a></li>
                            <li><a href="">美本申请官方指南</a></li>
                            <li><a href="">英本申请官方指南</a></li>
                            <li><a href="">美国留学评估</a></li>
                            <li><a href="">美本申请官方指南</a></li>
                            <li><a href="">英本申请官方指南</a></li>
                            <li><a href="">美国留学评估</a></li>
                        </ul>
                    </div>
                    <div class="nav_part">
                        <h4>背景提升</h4>
                        <ul class="nav_list clearfix">
                            <li><a href="">本科活动规划</a></li>
                            <li><a href="">常春藤名校夏季课程</a></li>
                        </ul>
                    </div>
                    <div class="nav_part">
                        <h4>留学方案</h4>
                        <ul class="nav_list clearfix">
                            <li><a href="">本科精英计划</a></li>
                            <li><a href="">美本保录取TOP30计划</a></li>
                            <li><a href="">英本保录取TOP50计划</a></li>
                            <li><a href="">澳洲留学计划</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav_head">
                <a href="">英国研究生留学</a>
            </li>
            <li class="nav_head">
                <a href="">英国中学留学</a>
            </li>
            <li class="nav_head">
                <a href="">英国本科转学</a>
            </li>
            <li class="nav_head">
                <a href="">出国语言培训</a>
            </li>
            <li class="nav_head">
                <a href="">成功案例</a>
            </li>
            <li class="nav_head">
                <a href="">关于我们</a>
            </li>
        </ul>
    </div>
</nav>
<!--导航部分结束-->

<!--图片轮转开始-->
<div class="ban_bg">
    <ul class="bg_part">
        <li><a href="#"></a></li>
    </ul>
    <ul class="bg_btn">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--图片轮转结束-->

<!--图片轮转下的补充栏开始-->
<div class="ban_foot clearfix">
    <div class="ban_item">
        <ul class="clearfix">
            <li>
                <p style="background: url('/public/images/iconban_foot.png') no-repeat 0 0"></p>
                <div>
                    <h3>名校招生官方指导</h3>
                    <span>权威指导留学申请</span>
                </div>
            </li>
            <li>
                <p style="background: url('/public/images/iconban_foot.png') no-repeat -42px 0"></p>
                <div>
                    <h3>独家活动规划</h3>
                    <span>稀缺活动/顶尖科研实习</span>
                </div>
            </li>
            <li>
                <p style="background: url('/public/images/iconban_foot.png') no-repeat -84px 0"></p>
                <div>
                    <h3>高效辅导培训</h3>
                    <span>阶梯教程/内部教材</span>
                </div>
            </li>
            <li style="border: none">
                <p style="background: url('/public/images/iconban_foot.png') no-repeat -126px 0"></p>
                <div>
                    <h3>经典名校案例</h3>
                    <span>80%学生进入TOP50名校</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--补充栏结束-->

<!--学校搜索开始-->
<section class="school">
    <div class="school_search">
        <h3>学校搜索</h3>
        <div class="school_search_content">
            <label for="school_name" class="search_icon">
                <input type="text" id="school_name" placeholder="搜索你感兴趣的学校">
            </label>
            <a href="javascript:" class="search">搜索</a>
            <p>根据国家查找学校：</p>
            <div class="school_img">
                <a href="" id="uk">
                    <div>
                        <i style="background: url('/public/images/search_icon.png') no-repeat"></i>
                        <span>英国</span>
                    </div>
                </a>
                <a href="" id="au">
                    <div>
                        <i style="background: url('/public/images/search_icon.png') no-repeat -60px top"></i>
                        <span>澳洲</span>
                    </div>
                </a>
                <a href="" id="usa">
                    <div>
                        <i style="background: url('/public/images/search_icon.png') no-repeat -120px top"></i>
                        <span>美国</span>
                    </div>
                </a>
                <a href="" id="nz">
                    <div>
                        <i style="background: url('/public/images/search_icon.png') no-repeat -180px top"></i>
                        <span>新西兰</span>
                    </div>
                </a>
                <a href="" id="jpn">
                    <div>
                        <i style="background: url('/public/images/search_icon.png') no-repeat -240px top"></i>
                        <span>日本</span>
                    </div>
                </a>
                <a href="" id="sg">
                    <div>
                        <i style="background: url('/public/images/search_icon.png') no-repeat -300px top"></i>
                        <span>新加坡</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="popular_school">
        <div class="popular_school_title clearfix">
            <h3>热门学校</h3>
            <a href="">全部学校</a>
        </div>
        <div class="school_logo clearfix">
            <ul>
                <li>
                    <a href="" class="logo_img" style="background: url('/public/images/popularSchool.png') no-repeat left top"></a>
                    <p><a href="" class="logo_cn">雷丁大学</a></p>
                    <a href="" class="logo_en">University of Reading</a>
                </li>
                <li class="mid_logo">
                    <a href="" class="logo_img" style="background: url('/public/images/popularSchool.png') no-repeat -130px top"></a>
                    <p><a href="" class="logo_cn">贝尔法斯特女王大学</a></p>
                    <a href="" class="logo_en">Queen's University Belfast</a>
                </li>
                <li>
                    <a href="" class="logo_img" style="background: url('/public/images/popularSchool.png') no-repeat -260px top"></a>
                    <p><a href="" class="logo_cn">范德堡大学</a></p>
                    <a href="" class="logo_en">Vanderbilt University</a>
                </li>
            </ul>
        </div>
        <div class="school_logo clearfix">
            <ul>
                <li>
                    <a href="" class="logo_img" style="background: url('/public/images/popularSchool.png') no-repeat left -50px"></a>
                    <p><a href="" class="logo_cn">加州大学伯克利分校</a></p>
                    <a href="" class="logo_en">University of California Berkeley</a>
                </li>
                <li class="mid_logo">
                    <a href="" class="logo_img" style="background: url('/public/images/popularSchool.png') no-repeat -130px -50px"></a>
                    <p><a href="" class="logo_cn">纽卡斯尔大学（澳大利亚）</a></p>
                    <a href="" class="logo_en">University of Newcastle Australia</a>
                </li>
                <li>
                    <a href="" class="logo_img" style="background: url('/public/images/popularSchool.png') no-repeat -260px -50px"></a>
                    <p><a href="" class="logo_cn">塔斯马尼亚大学</a></p>
                    <a href="" class="logo_en">University of Tasmania</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="school_news">
        <div class="school_news_title clearfix">
            <a href="" id="strategy">留学攻略</a>
            <p>|</p>
            <a href="" id="consult">留学咨询</a>
        </div>
        <div class="school_strategy">
            <a href="" class="strategy_img"><img src="/public/images/school_strategy1.jpg" style="width: 310px;height: 100px;" alt=""></a>
            <ul>
                <li><a href="">名校本科生节 申请时间节点在这里！sssssssssssssssssssssssssssssssssssss</a></li>
                <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
            </ul>
        </div>
        <div class="school_strategy" style="display: none">
            <ul>
                <li><a href="">名校本科生节 申请时间节点在这里！sssssssssssssssssssssssssssssssssssss</a></li>
                <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
            </ul>
        </div>
    </div>
</section>
<!--学校搜索结束-->

<!--留学流程开始-->
<section class="study_procedure">
    <div class="section_title">
        <p>留学流程</p>
    </div>
    <div class="procedure clearfix">
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat left bottom"></i>
            <p>留学规划</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -50px bottom"></i>
            <p>活动规划</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -100px bottom"></i>
            <p>留学申请</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -150px bottom"></i>
            <p>学习规划</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -200px bottom"></i>
            <p>语言提升</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -250px bottom"></i>
            <p>文书创作</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -300px bottom"></i>
            <p>签证办理</p>
        </a>
        <a href="" class="procedure_part procedure_last">
            <i style="background: url('/public/images/procedure.png') no-repeat -350px bottom"></i>
            <p>后续服务</p>
        </a>
    </div>
</section>
<!--留学流程结束-->

<!--本科留学开始-->
<section class="study_abroad undergraduate clearfix">
    <div class="section_title">
        <p>英国本科留学</p>
    </div>
    <div class="study_abroad_content clearfix">
        <div class="study_abroad_nav">
            <ul>
                <li><a href="">留学规划</a></li>
                <li><a href="">专业推荐</a></li>
                <li><a href="">院校申请</a></li>
                <li><a href="">签证指南</a></li>
                <li><a href="">申请规划表</a></li>
            </ul>
        </div>
        <div class="study_abroad_mid">
            <div class="mid_article">
                <ul class="left">
                    <li><a href="">英国留学个人陈述如何写才会让人眼前一亮</a></li>
                    <li><a href="">英国本科预料申请方案</a></li>
                    <li><a href="">英国本科申请方案</a></li>
                    <li><a href="">英国留学取得diploma毕业和degree毕业回国后境遇大不同</a></li>
                </ul>
                <ul class="right">
                    <li><a href="">英国大学offer发放率低的高校，获得高学位较容易</a></li>
                    <li><a href="">留学英国就业7条途径送给即将毕业学生们</a></li>
                    <li><a href="">留学在英国的日常礼仪</a></li>
                    <li><a href="">盘点2017年开放春季预科入学的英国大学</a></li>
                </ul>
            </div>
            <div class="mid_img">
                <p><a href="">留学评估</a></p>
                <p>
                    <a href="">背景提升</a>
                    <a href="">考试培训</a>
                </p>
                <p><a href="">留学申请</a></p>
                <p><a href="">面试指导</a></p>
                <p><a href="">签证服务</a></p>
            </div>
        </div>
    </div>
    <div class="study_abroad_case clearfix">
        <div class="case_title clearfix">
            <a href="">录取案例</a>
            <a href="">高分案例</a>
        </div>
        <div class="case_content">
            <p>SAT的完美规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT快速提分 个性化方案</p>
            <ul style="display: block">
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT精品强化 轻松提升</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT突破自我 从1840到2240</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT的完美规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
        </div>
    </div>
</section>
<!--本科留学结束-->

<!--研究生留学开始-->
<section class="study_abroad postgraduate clearfix">
    <div class="section_title">
        <p>英国研究生留学</p>
    </div>
    <div class="study_abroad_content clearfix">
        <div class="study_abroad_nav">
            <ul>
                <li><a href="">留学规划</a></li>
                <li><a href="">专业推荐</a></li>
                <li><a href="">院校申请</a></li>
                <li><a href="">签证指南</a></li>
                <li><a href="">申请规划表</a></li>
            </ul>
        </div>
        <div class="study_abroad_mid">
            <div class="mid_article">
                <ul class="left">
                    <li><a href="">英国毕业生就业率或创十年来最高</a></li>
                    <li><a href="">留学十年寒窗苦 近四千中国学生获英国永居</a></li>
                    <li><a href="">英国留学生毕业后，都干嘛去了呢？</a></li>
                    <li><a href="">英国大学毕业生调查 最好和最难找工作的十大城市</a></li>
                </ul>
                <ul class="right">
                    <li><a href="">英国硕士预科申请方案</a></li>
                    <li><a href="">英国院校提供带薪实习 为留学生未来就业加分</a></li>
                    <li><a href="">2018年如何申请到世界排名前50的学校</a></li>
                    <li><a href="">英国名校申请中需知的七大热点问题</a></li>
                </ul>
            </div>
            <div class="mid_img">
                <p><a href="">留学评估</a></p>
                <p>
                    <a href="">背景提升</a>
                    <a href="">考试培训</a>
                </p>
                <p><a href="">留学申请</a></p>
                <p><a href="">面试指导</a></p>
                <p><a href="">签证服务</a></p>
            </div>
        </div>
    </div>
    <div class="study_abroad_case clearfix">
        <div class="case_title clearfix">
            <a href="">录取案例</a>
            <a href="">高分案例</a>
        </div>
        <div class="case_content">
            <p>SAT的完美规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT快速提分 个性化方案</p>
            <ul style="display: block">
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT精品强化 轻松提升</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT突破自我 从1840到2240</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT的完美规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
        </div>
    </div>
</section>
<!--研究生留学结束-->

<!--中学留学开始-->
<section class="study_abroad middle_school clearfix">
    <div class="section_title">
        <p>英国中学留学</p>
    </div>
    <div class="study_abroad_content clearfix">
        <div class="study_abroad_nav">
            <ul>
                <li><a href="">留学规划</a></li>
                <li><a href="">行程准备</a></li>
                <li><a href="">院校申请</a></li>
                <li><a href="">中学留学</a></li>
                <li><a href="">申请规划表</a></li>
            </ul>
        </div>
        <div class="study_abroad_mid">
            <div class="mid_article">
                <ul class="left">
                    <li><a href="">高考后英国留学也不晚</a></li>
                    <li><a href="">英国中学申请方案</a></li>
                    <li><a href="">英国寄宿中学逐年升温 年龄越小融入越佳</a></li>
                    <li><a href="">英国高中留学需要什么申请材料</a></li>
                </ul>
                <ul class="right">
                    <li><a href="">高中生英国留学面试问题与技巧</a></li>
                    <li><a href="">最适合中国学生的“世界高考”A-Level</a></li>
                    <li><a href="">英国留学 私立中学学制你了解吗?</a></li>
                    <li><a href="">留英低龄化 寄宿中学受青睐</a></li>
                </ul>
            </div>
            <div class="mid_img">
                <p><a href="">留学评估</a></p>
                <p>
                    <a href="">背景提升</a>
                    <a href="">考试培训</a>
                </p>
                <p><a href="">留学申请</a></p>
                <p><a href="">面试指导</a></p>
                <p><a href="">签证服务</a></p>
            </div>
        </div>
    </div>
    <div class="study_abroad_case clearfix">
        <div class="case_title clearfix">
            <a href="">录取案例</a>
            <a href="">高分案例</a>
        </div>
        <div class="case_content">
            <p>SAT的完美规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT快速提分 个性化方案</p>
            <ul style="display: block">
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT精品强化 轻松提升</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT突破自我 从1840到2240</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT的完美规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
        </div>
    </div>
</section>
<!--中学留学结束-->

<!--能力培训开始-->
<section class="training clearfix">
    <div class="section_title">
        <p>能力培训</p>
    </div>
    <ul class="training_list clearfix">
        <li><a href="">托福</a></li>
        <li><a href="">雅思</a></li>
        <li><a href="">GRE</a></li>
        <li><a href="">GMAT</a></li>
        <li><a href="">SAT</a></li>
        <li><a href="">SSAT</a></li>
        <li class="last_part"><a href="">ACT</a></li>
    </ul>
    <div class="training_block clearfix">
        <div class="training_part">
            <div class="training_img">
                <i></i>
                <p><a href="">GRE</a></p>
                <p><a href="">考试动态</a></p>
            </div>
            <div class="training_content">
                <ul>
                    <li><span>●</span><a href="">GRE备考：单词和语法知识基础圣诞上单速度是</a></li>
                    <li><span>●</span><a href="">GRE考试答题节奏 注意事项训练方法</a></li>
                    <li><span>●</span><a href="">GRE填空的四大类特点（上）</a></li>
                    <li><span>●</span><a href="">新、老GRE考试的填空题型有什么差异？</a></li>
                </ul>
            </div>
        </div>
        <div class="training_part">
            <div class="training_img">
                <i></i>
                <p><a href="">GRE</a></p>
                <p><a href="">学习技巧</a></p>
            </div>
            <div class="training_content">
                <ul>
                    <li><span>●</span><a href="">GRE备考：单词和语法知识基础圣诞上单速度是</a></li>
                    <li><span>●</span><a href="">GRE考试答题节奏 注意事项训练方法</a></li>
                    <li><span>●</span><a href="">GRE填空的四大类特点（上）</a></li>
                    <li><span>●</span><a href="">新、老GRE考试的填空题型有什么差异？</a></li>
                </ul>
            </div>
        </div>
        <div class="training_part last_part">
            <div class="training_img">
                <i></i>
                <p><a href="">GRE</a></p>
                <p><a href="">学习经验</a></p>
            </div>
            <div class="training_content">
                <ul>
                    <li><span>●</span><a href="">GRE备考：单词和语法知识基础圣诞上单速度是</a></li>
                    <li><span>●</span><a href="">GRE考试答题节奏 注意事项训练方法</a></li>
                    <li><span>●</span><a href="">GRE填空的四大类特点（上）</a></li>
                    <li><span>●</span><a href="">新、老GRE考试的填空题型有什么差异？</a></li>
                </ul>
            </div>
        </div>
        <div class="training_part">
        <div class="training_img">
            <i></i>
            <p><a href="">GRE</a></p>
            <p><a href="">名师指导</a></p>
        </div>
        <div class="training_content">
            <ul>
                <li><span>●</span><a href="">GRE备考：单词和语法知识基础圣诞上单速度是</a></li>
                <li><span>●</span><a href="">GRE考试答题节奏 注意事项训练方法</a></li>
                <li><span>●</span><a href="">GRE填空的四大类特点（上）</a></li>
                <li><span>●</span><a href="">新、老GRE考试的填空题型有什么差异？</a></li>
            </ul>
        </div>
    </div>
        <div class="training_part">
            <div class="training_img">
                <i></i>
                <p><a href="">GRE</a></p>
                <p><a href="">考试指南</a></p>
            </div>
            <div class="training_content">
                <ul>
                    <li><span>●</span><a href="">GRE备考：单词和语法知识基础圣诞上单速度是</a></li>
                    <li><span>●</span><a href="">GRE考试答题节奏 注意事项训练方法</a></li>
                    <li><span>●</span><a href="">GRE填空的四大类特点（上）</a></li>
                    <li><span>●</span><a href="">新、老GRE考试的填空题型有什么差异？</a></li>
                </ul>
            </div>
        </div>
        <div class="training_part last_part">
            <div class="training_img">
                <i></i>
                <p><a href="">GRE</a></p>
                <p><a href="">英语学习</a></p>
            </div>
            <div class="training_content">
                <ul>
                    <li><span>●</span><a href="">GRE备考：单词和语法知识基础圣诞上单速度是</a></li>
                    <li><span>●</span><a href="">GRE考试答题节奏 注意事项训练方法</a></li>
                    <li><span>●</span><a href="">GRE填空的四大类特点（上）</a></li>
                    <li><span>●</span><a href="">新、老GRE考试的填空题型有什么差异？</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--能力培训结束-->








<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!--底部版权开始-->
<footer class="footer">
    <div class="catalog">
        <ul class="clearfix">
            <li class="footer_part">
                <p class="footer_title">留学服务</p>
                <ul>
                    <li><a href="">本科留学申请</a></li>
                    <li><a href="">研究生留学申请</a></li>
                    <li><a href="">高中留学申请</a></li>
                    <li><a href="">本科转学申请</a></li>
                </ul>
            </li>
            <li class="footer_part">
                <p class="footer_title">考试培训</p>
                <ul>
                    <li><a href="">托福</a></li>
                    <li><a href="">SAT</a></li>
                    <li><a href="">SSAT</a></li>
                    <li><a href="">ACT</a></li>
                    <li><a href="">GRE</a></li>
                </ul>
            </li>
            <li class="footer_part">
                <p class="footer_title">培训课程</p>
                <ul>
                    <li><a href="">提分班课</a></li>
                    <li><a href="">封闭班</a></li>
                    <li><a href="">学习规划</a></li>
                    <li><a href="">精英计划</a></li>
                </ul>
            </li>
            <li class="footer_part company">
                <p class="footer_title">各地分公司</p>
                <ul>
                    <li>
                        <a href="">北京</a>
                        <a href="">上海</a>
                        <a href="">广州(广东)</a>
                        <a href="">深圳(广东)</a>
                    </li>
                    <li>
                        <a href="">沈阳(辽宁)</a>
                        <a href="">武汉(湖北)</a>
                        <a href="">西安(陕西)</a>
                        <a href="">南京(江苏)</a>
                        <a href="">郑州(河南)</a>
                    </li>
                    <li>
                        <a href="">太原(山西)</a>
                        <a href="">大连(辽宁)</a>
                        <a href="">成都(四川)</a>
                        <a href="">昆明(云南)</a>
                        <a href="">青岛(山东)</a>
                    </li>
                    <li>
                        <a href="">长春(吉林)</a>
                        <a href="">杭州(浙江)</a>
                        <a href="">重庆</a>
                    </li>
                </ul>
            </li>
            <li class="footer_part last_part">
                <p class="footer_title">社交媒体</p>
                <ul>
                    <li><a href="">海外留学官网微信</a></li>
                    <li><a href="">海外留学官网微博</a></li>
                    <li><a href="">海外留学移动官网</a></li>
                    <li><a href="">关于我们</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="copyright clearfix">
        <p>海外留学网&nbsp;&nbsp;版权所有</p>
        <p>京ICP备00000000&nbsp;&nbsp;京公安备0000000000&nbsp;&nbsp;电话：010-00000000</p>
        <p>Copyright&copy;2017&nbsp;hwlxue.com 海外留学网 All Rights Reserved</p>
    </div>
</footer>
<!--底部版权结束-->

<!--友情链接开始-->
<div class="friend_link">
    <div class="links clearfix">
        <span>友情链接：</span>
        <ul>
            <li><a href="http://jquery.cuishifeng.cn/" target="_blank">jQuery API 中文文档</a></li>
            <li><a href="http://nodejs.cn/api/" target="_blank">Node.js 中文文档</a></li>
            <li><a href="http://www.bootcss.com/" target="_blank">Bootstrap 中文网</a></li>
            <li><a href="http://glyphicons.com/" target="_blank">Glyphicon Halflings</a></li>
            <li><a href="http://www.iqianduan.net/blog/how_to_use_swig" target="_blank">Swig 使用指南</a></li>
            <li><a href="https://developer.mozilla.org/zh-CN/" target="_blank">Mozilla 开发者网络</a></li>
        </ul>
    </div>
</div>
<!--友情链接结束-->
</body>
</html>