<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海外留学官网</title>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/main_index.css">
    <script src="/public/js/jquery-3.2.0.min.js"></script>
    <script src="/public/js/selectivizr-development.js"></script>
    <!--[if lt IE 9]>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
        (function() {
            if (!/*@cc_on!@*/0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
    <![endif]-->
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="/public/js/main_action.js"></script>
</head>
<body>

<!--顶部logo加登录位置开始-->
<div class="big">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div id="mainNav" class="navbar hold">
    <div class="container">
        <div>
            <ul class="ban">
                <li id="logo">
                    <img src="/public/images/logo.png" alt="海外留学网">
                    <span>海外留学网</span>
                </li>
                <li>
                    <a class="page-scroll" href="/features">特色</a>
                </li>
                {% if userInfo.id %}
                <li id="success">
                    <div id="username">欢迎！{{userInfo.username}}
                        <ul class="banlist" id="banlist" style="display: none">
                            <li><a href="javascript:">个人中心</a></li>
                            <li><a href="javascript:">学习中心</a></li>
                            {% if userInfo.isAdmin %}
                            <li><a href="/admin" target="_blank">进入管理</a></li>
                            {% else %}
                            {% endif %}
                            <li><a href="javascript:" id="logout">退出</a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li>
                    <a href="javascript:" id="register">注册</a>
                </li>
                <li>
                    <a href="javascript:" id="login">登录</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!--顶部结束-->

<!--登录开始-->
<div class="shade_wrap" style="display: none" id="loginBox">
    <div class="shade"></div>
    <div class="login">
        <span></span>
        <h3>登录海外留学网</h3>
        <label for="inputEmail" class="sr-only"></label>
        <!--[if lte IE 9]><b>登录</b>：<![endif]--><input type="text" class="form-control" id="inputEmail" name="username" placeholder="手机号/邮箱">
        <label for="password" class="sr-only"></label>
        <!--[if lte IE 9]><b>密码：</b><![endif]--><input type="password" id="password" class="form-control" name="password" placeholder="密码">
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <p class="colWarning textCenter tips2"></p>
        <ul class="zhuce">
            <li><a href="javascript:">新用户注册</a></li>
        </ul>
    </div>
</div>
<!--登录结束-->

<!--注册开始-->
<div class="shade_wrap" style="display: none" id="registerBox">
    <div class="shade"></div>
    <div class="register">
        <span></span>
        <h3>注册海外留学网帐号</h3>
        <label for="inputEmail2" class="sr-only"></label>
        <input type="text" class="form-control" id="inputEmail2" name="username">
        <p class="colWarning textCenter phone">请填写手机号码或者邮箱</p>
        <label for="password2" class="sr-only"></label>
        <input type="password" id="password2" class="form-control" name="password">
        <p class="colWarning textCenter password">密码6~16个字符，区分大小写</p>
        <label for="repassword2" class="sr-only"></label>
        <input type="password" id="repassword2" class="form-control" name="repassword">
        <p class="colWarning textCenter repassword">请再次填写密码</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">免费注册</button>
        <p class="tips"><a href="javascript:"></a></p>
        <ul class="denglu">
            <li><a href="javascript:">已有帐号登录</a></li>
        </ul>
    </div>
</div>
<!--注册结束-->

<!--导航部分开始-->
<nav class="outer clearfix">
    <div class="menu clearfix">
        <div class="server clearfix">
            <h3>留学服务</h3>
            <div class="server_cover"></div>
            <ul>
                <li class="server_part clearfix">
                    <a class="server_head clearfix" href="">考试培训</a>
                    <ul class="server_list clearfix">
                        <li><a href="">一对一课程</a></li>
                        <li><a href="">学习规划</a></li>
                        <li><a href="">封闭保分班</a></li>
                        <li><a href="">英国sat封闭保分班</a></li>
                    </ul>
                </li>
                <li class="server_part clearfix">
                    <a class="server_head clearfix" href="">背景提升</a>
                    <ul class="server_list clearfix">
                        <li><a href="">活动规划</a></li>
                        <li><a href="">科研/实习项目</a></li>
                        <li><a href="">名校夏季课程</a></li>
                        <li><a href="">精英夏令营</a></li>
                    </ul>
                </li>
                <li class="server_part clearfix">
                    <a class="server_head clearfix" href="">留学申请</a>
                    <ul class="server_list clearfix">
                        <li><a href="">英国本科留学</a></li>
                        <li><a href="">英国研究生留学</a></li>
                        <li><a href="">英国中学留学</a></li>
                        <li><a href="">英国本科转学</a></li>
                    </ul>
                </li>
                <li class="server_part clearfix">
                    <a class="server_head clearfix" href="">一站式服务</a>
                    <ul class="server_list clearfix">
                        <li><a href="">精英计划</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="navigation">
            {% for navigation in navigations %}
            <li class="nav_head">
                <a href="{{navigation.Nav_url}}">{{navigation.Nav_name}}</a>
                {% if navigation.Nav_count %}
                <div class="nav_content">
                {% for nav_title in nav_titles %}
                    {% if nav_title.navigation._id.toString() == navigation._id.toString() %}
                        <div class="nav_part">
                            <h4>{{nav_title.Nav_title}}</h4>
                            {% if nav_title.Nav_title_count %}
                            <ul class="nav_list clearfix">
                                {% for nav_content in nav_contents %}
                                    {% if nav_content.nav_title._id.toString() == nav_title._id.toString() %}
                                        <li><a href="{{nav_content.Nav_content_url}}">{{nav_content.Nav_content_name}}</a></li>
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% else %}
                            {% endif %}
                        </div>
                    {%else%}
                    {%endif%}
                {% endfor %}
                </div>
                {% else %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<!--导航部分结束-->

<!--图片轮转开始-->
<div class="ban_bg">
    <div class="bg_part">
        <div><a href="/"></a></div>
        <div><a href="/"></a></div>
        <div><a href="/"></a></div>
        <div><a href="/"></a></div>
    </div>
    <div class="extra">
        <ul class="bg_btn">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<!--图片轮转结束-->

<!--图片轮转下的补充栏开始-->
<div class="ban_foot clearfix">
    <div class="ban_item">
        <ul class="clearfix">
            <li>
                <p style="background: url('/public/images/icon/iconban_foot.png') no-repeat 0 0"></p>
                <div>
                    <h3>名校招生官方指导</h3>
                    <span>权威指导留学申请</span>
                </div>
            </li>
            <li>
                <p style="background: url('/public/images/icon/iconban_foot.png') no-repeat -42px 0"></p>
                <div>
                    <h3>独家活动规划</h3>
                    <span>稀缺活动/顶尖科研实习</span>
                </div>
            </li>
            <li>
                <p style="background: url('/public/images/icon/iconban_foot.png') no-repeat -84px 0"></p>
                <div>
                    <h3>高效辅导培训</h3>
                    <span>阶梯教程/内部教材</span>
                </div>
            </li>
            <li style="border: none">
                <p style="background: url('/public/images/icon/iconban_foot.png') no-repeat -126px 0"></p>
                <div>
                    <h3>经典名校案例</h3>
                    <span>80%学生进入名校</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--补充栏结束-->

<!--学校搜索开始-->
<section class="school">
    <div class="school_search">
        <h3>学校搜索</h3>
        <div class="school_search_content">
            <form method="post" target="_blank">
                <label for="school_name" class="search_icon_father">
                    <i class="search_icon"></i>
                    <input type="text" id="school_name" placeholder="搜索你感兴趣的学校" name="school_name">
                </label>
                <button type="submit" class="search">搜索</button>
            </form>
            <p>根据地区查找学校：</p>
            <div class="school_area">
                <a href="/school?school_area=英格兰&call=1" target="_blank">英格兰</a>
                <a href="/school?school_area=苏格兰&call=2" target="_blank">苏格兰</a>
                <a href="/school?school_area=威尔士&call=3" target="_blank">威尔士</a>
                <a href="/school?school_area=北爱尔兰&call=4" target="_blank">北爱尔兰</a>
                <a href="/school?school_area=伦敦&call=5" target="_blank">英格兰伦敦</a>
            </div>
        </div>
    </div>
    <div class="popular_school">
        <div class="popular_school_title clearfix">
            <h3>热门学校</h3>
            <a href="/school" target="_blank">全部学校</a>
        </div>
        <div class="school_logo clearfix">
            <ul>
                {% for hot_school in hot_schools %}
                <li>
                    <a href="" class="logo_img" style="background: url('/public/images/school/{{hot_school.School_img}}') no-repeat left top"></a>
                    <p><a href="" class="logo_cn">{{hot_school.School_zn}}</a></p>
                    <a href="" class="logo_en">{{hot_school.School_en}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="school_news">
        <div class="school_news_title clearfix">
            <a href="">留学攻略</a>
            <p>|</p>
            <a href="">留学咨询</a>
        </div>
        <div class="school_news_move">
            <div class="school_strategy">
                <a href="" class="strategy_img"><img src="/public/images/school_strategy1.jpg" style="width: 310px;height: 100px;" alt=""></a>
                <ul>
                    <li><a href="">名校本科生节 申请时间节点在这里！sssssssssssssssssssssssssssssssssssss</a></li>
                    <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                    <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                    <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                    <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                </ul>
            </div>
            <div class="school_strategy" style="display: none">
                <ul>
                    <li><a href="">名校本科生节 申请时间节点在这里！sssssssssssssssssssssssssssssssssssss</a></li>
                    <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                    <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                    <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                    <li><a href="">名校本科生节 申请时间节点在这里！</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--学校搜索结束-->

<!--留学流程开始-->
<section class="study_procedure">
    <div class="section_title">
        <p>留学流程</p>
    </div>
    <div class="procedure clearfix">
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat left bottom"></i>
            <p>留学规划</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -50px bottom"></i>
            <p>活动规划</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -100px bottom"></i>
            <p>留学申请</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -150px bottom"></i>
            <p>学习规划</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -200px bottom"></i>
            <p>语言提升</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -250px bottom"></i>
            <p>文书创作</p>
        </a>
        <a href="" class="procedure_part">
            <i style="background: url('/public/images/procedure.png') no-repeat -300px bottom"></i>
            <p>签证办理</p>
        </a>
        <a href="" class="procedure_part procedure_last">
            <i style="background: url('/public/images/procedure.png') no-repeat -350px bottom"></i>
            <p>后续服务</p>
        </a>
    </div>
</section>
<!--留学流程结束-->

<!--本科留学开始-->
<section class="study_abroad undergraduate clearfix">
    <div class="section_title">
        <p>英国本科留学</p>
    </div>
    <div class="study_abroad_content clearfix">
        <div class="study_abroad_nav">
            <ul>
                {% for abroad_nav in abroad_navs %}
                {% if abroad_nav.abroad.Abroad_name == '英国本科留学' %}
                <li><a href="{{abroad_nav.Abroad_nav_url}}" target="_blank">{{abroad_nav.Abroad_nav_name}}</a></li>
                {% else %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="study_abroad_mid">
    {% for abroad_nav in abroad_navs %}
        {% if abroad_nav.abroad.Abroad_name == '英国本科留学' %}
            {% if abroad_nav.Abroad_nav_name == '申请规划表' %}
            <div class="study_abroad_list">
                <div class="study_abroad_top">
                    <ul class="clearfix">
                        <li>
                            <i>10月-11月</i>
                            <p>冲刺雅思考试，入学申请表</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>12月-1月</i>
                            <p>准备其他有助于申请的材料，如各种获奖证书、展示特长的录相或磁带等。</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>5月-8月</i>
                            <p>申请签证、准备机票，换汇，体检，赴英国留学。</p>
                            <b>&gt;</b>
                        </li>
                    </ul>
                </div>
                <div class="study_abroad_top study_abroad_bom">
                    <ul class="clearfix">
                        <li>
                            <i>8月-9月</i>
                            <p>加入我们，确定最终留学方案</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>12月</i>
                            <p>准备简历和个人陈述，老师或校长推荐信</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>2月-4月</i>
                            <p>申请宿舍，如需搭配语言递交语言课申请。</p>
                            <b>&gt;</b>
                        </li>
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="study_abroad_num">
                <div class="mid_article">
                    <ul class="clearfix">
                        {% for abroad_content in abroad_contents %}
                        {% if abroad_content.abroad_nav._id.toString() == abroad_nav._id.toString() %}
                        <li><a href="{{abroad_content.Abroad_content_url}}" target="_blank">{{abroad_content.Abroad_content_name}}</a></li>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <a href="{{abroad_nav.Abroad_nav_url}}" class="study_abroad_more" target="_blank">&gt;&gt;</a>
                </div>
                <div class="mid_img">
                    <p><a href="">留学评估</a></p>
                    <p>
                        <a href="">背景提升</a>
                        <a href="">考试培训</a>
                    </p>
                    <p><a href="">留学申请</a></p>
                    <p><a href="">面试指导</a></p>
                    <p><a href="">签证服务</a></p>
                </div>
            </div>
            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}
        </div>
    </div>
    <div class="study_abroad_case clearfix">
        <div class="case_title clearfix">
            <a href="">录取案例</a>
            <a href="">高分案例</a>
        </div>
        <div class="case_content">
            {% for abroad_enroll in abroad_enrolls %}
                {% if abroad_enroll.abroad.Abroad_name == '英国本科留学' %}
                <p>{{abroad_enroll.Abroad_enroll_name}}</p>
                <ul>
                    <li>成绩：{{abroad_enroll.test1.Test_name}}{{abroad_enroll.Abroad_enroll_score1}} {{abroad_enroll.test2.Test_name}}{{abroad_enroll.Abroad_enroll_score2}}</li>
                    <li>录取学校：{{abroad_enroll.school.School_zn}}</li>
                </ul>
                {% else %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="case_content">
            <p>SAT的完23规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT快速提分 个性化方案</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT精42 轻松提升</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT突破111我 从1840到2240</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT的完2划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
        </div>
    </div>
</section>
<!--本科留学结束-->
<!--研究生留学开始-->
<section class="study_abroad postgraduate clearfix">
    <div class="section_title">
        <p>英国研究生留学</p>
    </div>
    <div class="study_abroad_content clearfix">
        <div class="study_abroad_nav">
            <ul>
                {% for abroad_nav in abroad_navs %}
                {% if abroad_nav.abroad.Abroad_name == '英国研究生留学' %}
                <li><a href="{{abroad_nav.Abroad_nav_url}}" target="_blank">{{abroad_nav.Abroad_nav_name}}</a></li>
                {% else %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="study_abroad_mid">
    {% for abroad_nav in abroad_navs %}
        {% if abroad_nav.abroad.Abroad_name == '英国研究生留学' %}
            {% if abroad_nav.Abroad_nav_name == '申请规划表' %}
            <div class="study_abroad_list">
                <div class="study_abroad_top">
                    <ul class="clearfix">
                        <li>
                            <i>9月-11月</i>
                            <p>冲刺雅思考试,确定既定目标院校和专业。</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>12月-4月</i>
                            <p>院校回函，跟进，等待Offer。</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>6月-9月</i>
                            <p>申请宿舍、行前准备，获得签证、踏上英国留学之路。</p>
                            <b>&gt;</b>
                        </li>
                    </ul>
                </div>
                <div class="study_abroad_top study_abroad_bom">
                    <ul class="clearfix">
                        <li>
                            <i>8月-9月</i>
                            <p>加入我们，确定最终留学方案。</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>11月</i>
                            <p>准备个人陈述和推荐信、递交材料申请。</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>5月</i>
                            <p>收到offer，根据个人情况确定最终要去的院校及专业。</p>
                            <b>&gt;</b>
                        </li>
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="study_abroad_num">
                <div class="mid_article">
                    <ul class="clearfix">
                        {% for abroad_content in abroad_contents %}
                        {% if abroad_content.abroad_nav._id.toString() == abroad_nav._id.toString() %}
                        <li><a href="{{abroad_content.Abroad_content_url}}" target="_blank">{{abroad_content.Abroad_content_name}}</a></li>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <a href="{{abroad_nav.Abroad_nav_url}}" class="study_abroad_more" target="_blank">&gt;&gt;</a>
                </div>
                <div class="mid_img">
                    <p><a href="">留学评估</a></p>
                    <p>
                        <a href="">背景提升</a>
                        <a href="">考试培训</a>
                    </p>
                    <p><a href="">留学申请</a></p>
                    <p><a href="">面试指导</a></p>
                    <p><a href="">签证服务</a></p>
                </div>
            </div>
            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}
            </div>
        </div>
    </div>
    <div class="study_abroad_case clearfix">
        <div class="case_title clearfix">
            <a href="">录取案例</a>
            <a href="">高分案例</a>
        </div>
        <div class="case_content">
            {% for abroad_enroll in abroad_enrolls %}
            {% if abroad_enroll.abroad.Abroad_name == '英国研究生留学' %}
            <p>{{abroad_enroll.Abroad_enroll_name}}</p>
            <ul>
                <li>成绩：{{abroad_enroll.test1.Test_name}}{{abroad_enroll.Abroad_enroll_score1}} {{abroad_enroll.test2.Test_name}}{{abroad_enroll.Abroad_enroll_score2}}</li>
                <li>录取学校：{{abroad_enroll.school.School_zn}}</li>
            </ul>
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="case_content">
            <p>SAT的完美规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT快速提分 个性化方案</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT精品强化 轻松提升</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT突破自我 从1840到2240</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT的完美规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
        </div>
    </div>
</section>
<!--研究生留学结束-->
<!--中学留学开始-->
<section class="study_abroad middle_school clearfix">
    <div class="section_title">
        <p>英国中学留学</p>
    </div>
    <div class="study_abroad_content clearfix">
        <div class="study_abroad_nav">
            <ul>
                {% for abroad_nav in abroad_navs %}
                {% if abroad_nav.abroad.Abroad_name == '英国中学留学' %}
                <li><a href="{{abroad_nav.Abroad_nav_url}}" target="_blank">{{abroad_nav.Abroad_nav_name}}</a></li>
                {% else %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="study_abroad_mid">
    {% for abroad_nav in abroad_navs %}
        {% if abroad_nav.abroad.Abroad_name == '英国中学留学' %}
            {% if abroad_nav.Abroad_nav_name == '申请规划表' %}
            <div class="study_abroad_list">
                <div class="study_abroad_top">
                    <ul class="clearfix">
                        <li>
                            <i>9月-11月</i>
                            <p>选择理想院校，雅思成绩（如有）。</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>12月-1月</i>
                            <p>准备其他有助于申请的材料，如各种获奖证书、展示特长的录相或磁带等。</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>2月-6月</i>
                            <p>申请宿舍、申请签证、准备机票，准备担保金，赴英国留学。</p>
                            <b>&gt;</b>
                        </li>
                    </ul>
                </div>
                <div class="study_abroad_top study_abroad_bom">
                    <ul class="clearfix">
                        <li>
                            <i>8月-9月</i>
                            <p>加入我们，确定最终留学方案。</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>12月</i>
                            <p>准备简历和个人陈述，老师或校长推荐信。</p>
                            <b>&gt;</b>
                        </li>
                        <li>
                            <i>1月-2月</i>
                            <p>等待学校发放录取通知书。</p>
                            <b>&gt;</b>
                        </li>
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="study_abroad_num">
                <div class="mid_article">
                    <ul class="clearfix">
                        {% for abroad_content in abroad_contents %}
                        {% if abroad_content.abroad_nav._id.toString() == abroad_nav._id.toString() %}
                        <li><a href="{{abroad_content.Abroad_content_url}}" target="_blank">{{abroad_content.Abroad_content_name}}</a></li>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <a href="{{abroad_nav.Abroad_nav_url}}" class="study_abroad_more" target="_blank">&gt;&gt;</a>
                </div>
                <div class="mid_img">
                    <p><a href="">留学评估</a></p>
                    <p>
                        <a href="">背景提升</a>
                        <a href="">考试培训</a>
                    </p>
                    <p><a href="">留学申请</a></p>
                    <p><a href="">面试指导</a></p>
                    <p><a href="">签证服务</a></p>
                </div>
            </div>
            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}
        </div>
    </div>
    <div class="study_abroad_case clearfix">
        <div class="case_title clearfix">
            <a href="">录取案例</a>
            <a href="">高分案例</a>
        </div>
        <div class="case_content">
            <p>SAT的完美规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT快速提分 个性化方案</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT精品强化 轻松提升</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT突破自我 从1840到2240</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT的完美规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
        </div>
        <div class="case_content">
            <p>SAT的完美42 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT快速提分 个性化方案</p>
            <ul>
                <li>基本23绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
            <p>SAT精品强化 轻松提升</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分111绩：SAT2400</li>
            </ul>
            <p>SAT突破自我 从1840到2240</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分22绩：SAT2400</li>
            </ul>
            <p>SAT的完美规划 2400满分经验</p>
            <ul>
                <li>基本成绩：SAT1540 提分860</li>
                <li>提分后成绩：SAT2400</li>
            </ul>
        </div>
    </div>
</section>
<!--中学留学结束-->

<!--能力培训开始-->
<section class="training clearfix">
    <div class="section_title">
        <p>能力培训</p>
    </div>
    <ul class="training_list clearfix">
        {% for test in tests %}
        {% if loop.last %}
            <li class="last_part"><a href="{{test.Test_url}}" target="_blank">{{test.Test_name}}</a></li>
        {% else %}
            <li><a href="{{test.Test_url}}" target="_blank">{{test.Test_name}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% for test in tests %}
    <div class="training_block clearfix">
        {% for training in trainings %}
        {% if training.test._id.toString() == test._id.toString() %}
        <div class="training_part">
            <div class="training_img dynamic">
                <i></i>
                <p><a href="{{test.Test_url}}">{{test.Test_name}}</a></p>
                <p><a href="{{training.Training_url}}">{{training.Training_name}}</a></p>
            </div>
            <div class="training_content">
                <ul>
                    {% for training_content in training_contents %}
                    {% if training_content.training._id.toString() == training._id.toString() %}
                    <li><span>●</span><a href="{{training_content.Training_content_url}}">{{training_content.Training_content_name}}</a></li>
                    {% else %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</section>
<!--能力培训结束-->

<!--教师阵容开始-->
<section class="teacher clearfix">
    <h1>全明星师资阵容</h1>
    <p>他们都在这里，你还要去哪儿学</p>
    <ul class="teacher_part line_1 clearfix">
        {% for teacher in teachers %}
        {% if loop.index0 < 6 %}
        <li>
            <a href="{{teacher.Teacher_url}}">
                <i class="teacher_img teacher_1" style="background: url('/public/images/teacher/{{teacher.Teacher_img}}') no-repeat;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/teacher/{{teacher.Teacher_img}}',sizingMethod='scale')"></i>
                <h3>{{teacher.Teacher_name}}</h3>
                <p>{{teacher.Teacher_intro}}</p>
            </a>
        </li>
        {% else %}
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="teacher_part line_2 clearfix">
        {% for teacher in teachers %}
        {% if loop.index0 >= 6 && loop.index0 < 13 %}
        <li>
            <a href="{{teacher.Teacher_url}}">
                <i class="teacher_img teacher_1" style="background: url('/public/images/teacher/{{teacher.Teacher_img}}') no-repeat;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/teacher/{{teacher.Teacher_img}}',sizingMethod='scale')"></i>
                <h3>{{teacher.Teacher_name}}</h3>
                <p>{{teacher.Teacher_intro}}</p>
            </a>
        </li>
        {% else %}
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="teacher_part line_1 clearfix">
        {% for teacher in teachers %}
        {% if loop.index0 >= 13 %}
        <li>
            <a href="{{teacher.Teacher_url}}">
                <i class="teacher_img teacher_1" style="background: url('/public/images/teacher/{{teacher.Teacher_img}}') no-repeat;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/teacher/{{teacher.Teacher_img}}',sizingMethod='scale')"></i>
                <h3>{{teacher.Teacher_name}}</h3>
                <p>{{teacher.Teacher_intro}}</p>
            </a>
        </li>
        {% else %}
        {% endif %}
        {% endfor %}
    </ul>
    <a href="" class="teacher_more">查看更多</a>
</section>
<!--教师阵容结束-->

<!--联系方式开始-->
<section class="connect">
    <div class="section_title">
        <p>联系我们</p>
        <span>咨询电话：000-000-0000</span>
    </div>
    <div class="connect_content clearfix">
        <i class="company_img"></i>
        <div class="connect_right">
            <h3>海外留学</h3>
            <div class="address">
                <div class="left">
                    <p>地址：北京市xx区xx广场3层</p>
                    <p>电话：000-00000000</p>
                    <p>邮件咨询：jack7770126@126.com</p>
                </div>
                <i></i><i></i>
            </div>
        </div>
    </div>
</section>
<!--联系方式结束-->

<!--底部版权开始-->
<footer class="footer clearfix">
    <div class="catalog">
        <ul class="clearfix">
            <li class="footer_part">
                <p class="footer_title">留学服务</p>
                <ul>
                    <li><a href="">本科留学申请</a></li>
                    <li><a href="">研究生留学申请</a></li>
                    <li><a href="">高中留学申请</a></li>
                    <li><a href="">本科转学申请</a></li>
                </ul>
            </li>
            <li class="footer_part">
                <p class="footer_title">考试培训</p>
                <ul>
                    <li><a href="">托福</a></li>
                    <li><a href="">SAT</a></li>
                    <li><a href="">SSAT</a></li>
                    <li><a href="">ACT</a></li>
                    <li><a href="">GRE</a></li>
                </ul>
            </li>
            <li class="footer_part">
                <p class="footer_title">培训课程</p>
                <ul>
                    <li><a href="">提分班课</a></li>
                    <li><a href="">封闭班</a></li>
                    <li><a href="">学习规划</a></li>
                    <li><a href="">精英计划</a></li>
                </ul>
            </li>
            <li class="footer_part company">
                <p class="footer_title">各地分公司</p>
                <ul>
                    <li>
                        <a href="">北京</a>
                        <a href="">上海</a>
                        <a href="">广州(广东)</a>
                        <a href="">深圳(广东)</a>
                    </li>
                    <li>
                        <a href="">沈阳(辽宁)</a>
                        <a href="">武汉(湖北)</a>
                        <a href="">西安(陕西)</a>
                        <a href="">南京(江苏)</a>
                        <a href="">郑州(河南)</a>
                    </li>
                    <li>
                        <a href="">太原(山西)</a>
                        <a href="">大连(辽宁)</a>
                        <a href="">成都(四川)</a>
                        <a href="">昆明(云南)</a>
                        <a href="">青岛(山东)</a>
                    </li>
                    <li>
                        <a href="">长春(吉林)</a>
                        <a href="">杭州(浙江)</a>
                        <a href="">重庆</a>
                    </li>
                </ul>
            </li>
            <li class="footer_part last_part">
                <p class="footer_title">社交媒体</p>
                <ul>
                    <li><a href="">海外留学官网微信</a></li>
                    <li><a href="">海外留学官网微博</a></li>
                    <li><a href="">海外留学移动官网</a></li>
                    <li><a href="">关于我们</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="copyright clearfix">
        <p>海外留学网&nbsp;&nbsp;版权所有</p>
        <p>京ICP备00000000&nbsp;&nbsp;京公安备0000000000&nbsp;&nbsp;电话：010-00000000</p>
        <p>Copyright&copy;2017&nbsp;hwlxue.com 海外留学网 All Rights Reserved</p>
    </div>
</footer>
<!--底部版权结束-->

<!--友情链接开始-->
<div class="friend_link clearfix">
    <div class="links clearfix">
        <span>友情链接：</span>
        <ul>
            <li><a href="http://jquery.cuishifeng.cn/" target="_blank">jQuery API 中文文档</a></li>
            <li><a href="http://nodejs.cn/api/" target="_blank">Node.js 中文文档</a></li>
            <li><a href="http://www.bootcss.com/" target="_blank">Bootstrap 中文网</a></li>
            <li><a href="http://glyphicons.com/" target="_blank">Glyphicon Halflings</a></li>
            <li><a href="http://www.iqianduan.net/blog/how_to_use_swig" target="_blank">Swig 使用指南</a></li>
            <li><a href="https://developer.mozilla.org/zh-CN/" target="_blank">Mozilla 开发者网络</a></li>
        </ul>
    </div>
</div>
<!--友情链接结束-->

<!--电话咨询栏开始-->
<div class="tel_call" style="display: none">
    <em></em>
    <p>免费电话咨询</p>
    <i></i>
    <input type="text" name="number" placeholder="请输入你的电话号码">
    <div class="tel_on">立即免费通话</div>
</div>
<div class="tel_logo">
    <div class="tel_title">免费通话</div>
    <i></i>
</div>
<!--电话咨询栏结束-->
</body>
</html>