<p>英国计算机专业可能不如美国那么出名，但是作为计算机理论的提出者图灵的故乡，英国在计算机专业发展上一直走在世界的前列，选择去英国留学读计算机也是一种不错的发展。下面澳际留学根据专业申请经验及多年留学服务经验，为大家整理了英国计算机专业解析及名校推荐，供大家参考。</p>

<p>英国计算机专业介绍</p>

<p>计算机科学是一门包含各种各样与计算和信息处理相关主题的系统学科，从抽象的算法分析、形式化语法等等，到更具体的主题如编程语言、程序设计、软件和硬件等。这是一门计算机技术与通信工程的交叉学科，这个专业着眼于培养即了解计算机有懂得通信原理的复合型人才。在当今世界计算机的广泛应用已经大大的改变了我们原有的通信方式，基于计算机基础的通信革命已经展开了。</p>

<p>英国计算机专业就业前景</p>

<p>尽管近几年IT产业风雨飘摇，不象前几年那么风起云涌了，但最近随着百度在纳斯达克的上市，阿里巴巴收购雅虎中国等事件，IT产业又有咸鱼翻身的迹象，毕竟现在是科技时代，经历了最初的网络泡沫，并趋于理性之后，IT业依然不失为一个具有吸引力的行业，这几年很多国内计算机专业的学生出于对将来就业或者其他的考虑，去英国留学选择了换专业，而且以商科居多，有盲目跟风的嫌疑，现在看来显得有点得不偿失，商科好学，同样的含金量也不高，就业形势更是一年不如一年，反而不如在原有的专业基础上继续深造，毕竟英国是发达国家，长期以来拥有优良的研究和学术创新传统。因此，文凭的含金量依旧是专业内数一数二的。</p>

<p>英国计算机专业研究方向</p>

<p>计算机科学(Computer science)</p>

<p>这是一个覆盖面比较大的专业，比较注重理论研究，相对来说缺少应用性和操作性。大多数学校都开设了这个专业。计算机科学专业有两种模式：一种是标准模式，适合有专业背景的学生学习;另外一种是特别模式，提供给没有计算机相关背景的学生。特别模式的课程设置相对简单，比较容易学习，为那些没有计算机基础知识，但是对此很感兴趣的学生提供了一条进入计算机这个行业的捷径。</p>

<p>软件工程</p>

<p>这个专业侧重软件的研究和开发，是应用性很强的专业，学生的就业情况也是非常好的。由于软件工程专业的应用型很强，所以比较适合有很强计算机相关背景的学生。如果没有计数机基础或是相关教育背景的学生不建议选择软件工程这个专业。</p>

<p>网络技术</p>

<p>随着互联网的高速发展，目前对网络技术人才的需求也越来越大，这个专业的就业前景被一致看好。网络技术专业的课程设置主要包括网络软件发展(Internet Software Development)、网络技术(Network Technologies)、多媒体安全介绍(Introduction to Multimedia Security)、软件代理(Software Agents) 和安全与加密(Security and Cryptography)等课程。这个专业也属于实用性比较强的专业，所以适合有计算机专业背景的学生学习。</p>

<p>英国计算机专业名校推荐</p>

<h5>1.南安普顿大学</h5>

<p>本科开设课程【计算机科学，计算机科学与人工智能，计算机科学与分布式网络，计算机科学与映像多媒体系统，软件工程，计算机科学与移动安全系统，企业信息技术】</p>

<p>硕士开设课程【人工智能，生物纳米技术，微电子系统设计，微电子机械系统，纳米电子与纳米技术，无线电频率通信系统，软件工程，片上系统，网页科学，网页技术】</p>

<h5>2.皇家霍洛威大学</h5>

<p>本科开设课程【计算机科学，计算机科学(一年工业实习)，计算机科学(信息安全)，计算机科学(人工智能)，计算机科学与管理，计算机科学与数学，计算机科学与商务】</p>

<p>硕士开设课程 【商务信息系统】</p>

<h5>3.约克大学</h5>

<p>约克大学成立于1963年，约克大学位于英格兰东北部约克郡，主校区位于距约克市3公里的Heslington; 分校区位于约克市中心(主要是考古、历史和艺术等专业)。出色的大学研究水平和教学水平使其成为英国最受欢迎的大学之一。在英国《泰晤士报》的2006年全英大学综合排名榜中排行在第九位;计算机专业排名第四，该专业研究水平评估5*。</p>

<p>本科开设课程 【计算机系统与软件工程，计算机科学，计算机科学与人工智能，计算机科学与嵌入式系统，计算机科学与商务企业系统，计算机科学/数学】</p>

<p>硕士开设课程 【计算机，燃气涡轮机控制，人力互动技术，信息技术，纯计算机，安全关键系统工程，软件工程，社会信息与互动技术】</p>

<h5>4.布里斯托大学</h5>

<p>布里斯托大学创立于1876年，是英国历史上第一个接受女子入学的高等院校;在英国大学中排名第十，计算机专业排名第6，研究水平评估5*。</p>

<p>本科开设课程 【计算机科学，计算机科学与电子，数学与计算机科学】</p>

<p>硕士开设课程 【高等计算机(网络技术与多媒体)，高等计算机(网络技术与安全)，高等计算机(机器实习与数据挖掘)，计算机科学，映像与视频通信及信号处理，无线通信与信号处理】</p>

<h5>5.格拉斯哥大学</h5>

<p>本科开设课程 【计算机科学与生理学(神经)，计算机科学】</p>

<p>硕士开设课程 【计算机取证与电子发现，计算机系统工程，计算机科学，信息管理与数码维护/档案和记录管理，信息检索系统，信息安全，信息技术】</p>

<h5>6.爱丁堡大学</h5>

<p>1853年建校的爱丁堡大学是大不列颠六所最古老、最大的大学之一，用美国校友开国元勋富兰克林的话说：世界上没有任何一所国际性知名学府可以和爱丁堡大学相提并论。 鉴于其悠久的历史，校方领导始终把传统学术领域和现代尖端科技产业的最佳组合作为课程设置的重点。</p>

<p>本科开设课程 【人工智能，人工智能与计算机科学，人工智能与数学，人工智能与心理学，人工智能与软件工程，人工智能与管理，计算机科学，计算机科学与电子，计算机科学与管理科学，计算机科学与数学，计算机科学与物理，计算机科学与管理，软件工程，软件工程与管理】</p>

<p>硕士开设课程 【人工智能与哲学，计算机科学与哲学，电子与计算机科学，电子与软件工程，人工智能与语言学】</p>

<h5>7.贝尔法斯特女王大学</h5>

<p>本科开设课程 【计算机游戏设计与开发，计算机科学，计算机与信息技术，创新多媒体】</p>

<p>硕士开设课程 【计算机与电子安全】</p>

<h5>8.纽卡斯尔大学</h5>

<p>纽卡斯尔大学位于英格兰第五大城市纽卡斯尔泰恩市，是英国17所主要研究大学联合小组“RUSSELL GROUP”的成员，也是国家级战略决策问题的重要参与部门。 大学所有的系都开设硕士或博士研究课程。2006年英国泰晤士报大学综合排名第十九，计算机专业排名第18，研究水平评估5。大学学制本科三年(国内高中毕业生需读一年大学预科);讲授式硕士学制一年。</p>

<p>相关课程：</p>

<p>MSc in Computing Science</p>

<p>MSc in Systems Desugn for Internet Applications</p>

<p>MSc in E-Business and Information Systems</p>

<p>MSc in Mobile and Pervasive Computing</p>

<h5>9.诺丁汉大学</h5>

<p>诺丁汉大学始建于1881年，为英国名列前茅的大学之一，并以其出色的教学质量赢得了国际声誉。1998-1999年诺丁汉大学获得高达5200万英镑的科研资助，从而成为从私有工业和商业获得资助最多的前四名大学之一。2006年英国泰晤士报大学综合排名第十二，计算机专业排名第十九，研究水平评估5。硕士入学语言要求IELTS 6.5以上或TOEFL573。</p>

<p>相关专业：</p>

<p>MSc in Advanced Interactive Technologies (for Work, Play)</p>

<p>MSc in Information Technology</p>

<p>MSc in Interactive Systems Design</p>

<p>MSc in Management of Information Technology</p>

<h5>10.东安格利亚大学University of East Anglia</h5>

<p>东安格利亚大学的计算机学院更是英国最大的以科学为先导的计算机学院之一，根据2009年全国学生调查的结果，东安格利亚大学计算机学院被评审为英国十大最高满意度之计算机学院。本计算机学院同时拥有4家活跃的研究所，专注于研究‘生物计算’、‘图像设计与视觉’、‘数学塑造与算法’和‘演讲、语言和虚拟人物’。一些企业也从东安格利亚计算机学院衍生而出，其中包括 “城市塑造集团”应用先进的软件及塑造技术专注于虚拟城市环境的开发。</p>

<p>去英国留学计算机专业申请要求</p>

<p>本　科：高二学生或者高中毕业生可以通过大学预科就读本科计算机科学相关专业，雅思要求</p>

<p>5.0-5.5分。</p>

<p>研究生：本科生需具备相关专业背景，个别专业(如信息系统管理需相关专业背景，或者数学</p>

<p>及工程科背景)可以接受没有专业背景的学生转申请，雅思要求6.0-7.0分。</p>