<nav aria-label="Page navigation" class="page">
    <ul class="pagination pagination-lg">
        <li>
            <a href="/school?school_area={{area}}&school_rank={{rank}}&&call={{call}}&call2={{call2}}&page={{page-1}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="/school?school_area={{area}}&school_rank={{rank}}&&call={{call}}&call2={{call2}}&page=1">1</a></li>
        <li><a href="/school?school_area={{area}}&school_rank={{rank}}&&call={{call}}&call2={{call2}}&page=2">2</a></li>
        <li><a href="/school?school_area={{area}}&school_rank={{rank}}&&call={{call}}&call2={{call2}}&page=3">3</a></li>
        <li><a href="/school?school_area={{area}}&school_rank={{rank}}&&call={{call}}&call2={{call2}}&page=4">4</a></li>
        <li><a href="/school?school_area={{area}}&school_rank={{rank}}&&call={{call}}&call2={{call2}}&page=5">5</a></li>
        <li>
            <a href="/school?school_area={{area}}&school_rank={{rank}}&&call={{call}}&call2={{call2}}&page={{page+1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<link rel="stylesheet" href="/public/css/page.css">