{% extends 'layout.html' %}

{% block title %}
<title>英国本科留学</title>
<link rel="stylesheet" href="/public/css/undergraduate_index.css">
<script src="/public/js/undergraduate.js"></script>
{% endblock %}

{% block big_bg %}
<a href="#" style="background: url('/public/images/undergraduate/undergraduate_bg.png') no-repeat left center"></a>
{% endblock %}

{% block prepare %}
<!--本科导语开始-->
<div class="introduction clearfix">
    <div class="left">
        <p>导语</p>
    </div>
    <div class="right">
        <p>本科学位是英国最流行的文凭资格。本科学位是学术性课程，在英格兰、北爱尔兰和威尔士通常为三年制，而在苏格兰则为四年制。一些本科课程延长一年时间供学生在国内或出国实习。世界闻名的教学质量、脱欧后的利好政策、宽松的就业环境，种种优势让老牌英国留学更添热度。赶紧跟随我们一起吧！</p>
    </div>
</div>
<!--本科导语结束-->

<!--九宫格介绍开始-->
<div class="night clearfix">
    <h3 class="common_head">英国本科留学九大优势<span>非你不可</span></h3>
    <div class="night_part">
        <ul class="clearfix">
            <li>
                <img src="/public/images/undergraduate/night_1.jpg" alt="图片加载中">
                <h3>顶级教学科研质量</h3>
                <div class="night_hide">
                    <h4>顶级教学科研质量</h4>
                    <p>百年院校历史和深厚的文化底蕴，成就了英国当之无愧的欧洲教育霸主地位，堪称欧洲乃至世界的“教科书”。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/undergraduate/night_2.jpg" alt="图片加载中">
                <h3>院校众多文凭国际认可</h3>
                <div class="night_hide">
                    <h4>院校众多文凭国际认可</h4>
                    <p>近200所知名的优质高等教育院校，更不乏牛津、剑桥、帝国理工等世界顶级学府，广受国际认可和推崇。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/undergraduate/night_3.jpg" alt="图片加载中">
                <h3>最快的修学年限</h3>
                <div class="night_hide">
                    <h4>最快的修学年限</h4>
                    <p>英国学制三年即可完成学士学位课程，不仅缩短修读年限，更节约了学费开支，同时可以尽早就业。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/undergraduate/night_4.jpg" alt="图片加载中">
                <h3>留学竞争减弱</h3>
                <div class="night_hide">
                    <h4>留学竞争减弱</h4>
                    <p>英国脱欧之后，针对欧洲的留学优惠政策不再，欧洲留学生人数急剧下降。这使得英国留学的竞争程度大大削弱。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/undergraduate/night_5.jpg" alt="图片加载中">
                <h3>申请途径多学业无缝衔接</h3>
                <div class="night_hide">
                    <h4>申请途径多学业无缝衔接</h4>
                    <p>从高中到本科再到大专毕业，各类背景的学子都能找到合适自己的英国留学申请途径。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/undergraduate/night_6.jpg" alt="图片加载中">
                <h3>奖学金丰厚</h3>
                <div class="night_hide">
                    <h4>奖学金丰厚</h4>
                    <p>英国政府、教育机构、社会团体等每年都会为优秀学子提供各类名目的丰厚奖学金。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/undergraduate/night_7.jpg" alt="图片加载中">
                <h3>留学政策利好</h3>
                <div class="night_hide">
                    <h4>留学政策利好</h4>
                    <p>英国向来重视高素质人才的引进和培养，为国际学生的留学以及未来发展。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/undergraduate/night_8.jpg" alt="图片加载中">
                <h3>就业便利前景看好</h3>
                <div class="night_hide">
                    <h4>就业便利前景看好</h4>
                    <p>脱欧后的英国急需留住大量优秀人才以弥补欧洲人才流失带来的各行业职位空缺。 提供诸多便利。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/undergraduate/night_9.jpg" alt="图片加载中">
                <h3>毗邻欧洲面向世界</h3>
                <div class="night_hide">
                    <h4>毗邻欧洲面向世界</h4>
                    <p>英国毗邻欧洲大陆，旅游资源丰富、交通便利，是探索欧洲，打开国际视野的第一站。</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--九宫格结束-->

<!--名校栏目开始-->
<div class="famous_school clearfix">
    <h3 class="common_head">英国本科留学<span>名校排名</span></h3>
    <div class="famous_school_head">
        <ul>
            <li class="left">2017年英国大学综合排名</li>
            <li class="right">名校历史文化</li>
        </ul>
    </div>
    <div class="famous_school_content">
        <ul class="famous_schools clearfix">
            <li>
                <h2>TOP 1</h2>
                <img src="/public/images/undergraduate/Cambridge.png" alt="剑桥大学">
                <h3>剑桥大学</h3>
                <p class="en">University of Cambridge</p>
                <p>法律、经济、建筑、计算机</p>
                <a href="#">了解更多</a>
            </li>
            <li>
                <h2>TOP 2</h2>
                <img src="/public/images/undergraduate/Oxford.png" alt="牛津大学">
                <h3>牛津大学</h3>
                <p class="en">University of Oxford</p>
                <p>法律、经济、艺术、计算机</p>
                <a href="#">了解更多</a>
            </li>
            <li>
                <h2>TOP 3</h2>
                <img src="/public/images/undergraduate/Andrews.png" alt="圣安德鲁斯大学">
                <h3>圣安德鲁斯大学</h3>
                <p class="en">University of St Andrews</p>
                <p>商业、心理学、哲学</p>
                <a href="#">了解更多</a>
            </li>
            <li>
                <h2>TOP 4</h2>
                <img src="/public/images/undergraduate/Durham.png" alt="杜伦大学">
                <h3>杜伦大学</h3>
                <p class="en">Durham University</p>
                <p>法律、历史、化学</p>
                <a href="#">了解更多</a>
            </li>
            <li>
                <h2>TOP 5</h2>
                <img src="/public/images/undergraduate/Imperial.png" alt="帝国理工学院">
                <h3>帝国理工学院</h3>
                <p class="en">Imperial College London</p>
                <p>计算机、土木、机械</p>
                <a href="#">了解更多</a>
            </li>
        </ul>
    </div>
    <i class="schools_arron1"></i>
    <i class="schools_arron2"></i>
</div>
<!--名校栏目结束-->

<!--热门专业开始-->
<div class="major clearfix">
    <h3 class="common_head">英国本科留学<span>热门专业</span></h3>
    <div class="major_left left">
        <ul>
            <li style="width: 220px;background-color: #996666">商业管理</li>
            <li>传媒</li>
            <li>建筑</li>
            <li>食品科学</li>
        </ul>
    </div>
    <div class="major_right right">
        <div class="major_part" style="display: block">
            <p><strong>专业优势：</strong>英国的商业研究水平一直处于世界领先地位，并且拥有多达十三所的国际三大认证的商学院，数量位居全球之冠。英国提供全方位的商科专业，涵盖项目管理、工程管理、市场营销、人力资源、财务管理、物流管理等各个范畴。</p>
            <p><strong>就业前景：</strong>英国的服务业是本国第一产业，其中商业咨询研究比例居首，为应届毕业生提供大量就业职位。而且英国拥有全欧最多的全球500强公司区域总部，提供大量管理职位。在英国一个应届毕业生可获得25,000英镑年薪，而有三年经验的求职者的平均年薪在50,000英镑左右。</p>
            <div class="major_school">
                <h3>院校推荐</h3>
                <p>华威大学、巴斯大学、布里斯托大学、伦敦政治经济学院、埃克塞特大学、格拉斯哥大学、爱丁堡大学等。</p>
            </div>
        </div>
        <div class="major_part">
            <p><strong>专业优势：</strong>2</p>
            <p><strong>就业前景：</strong>英国的服务业是本国第一产业，其中商业咨询研究比例居首，为应届毕业生提供大量就业职位。而且英国拥有全欧最多的全球500强公司区域总部，提供大量管理职位。在英国一个应届毕业生可获得25,000英镑年薪，而有三年经验的求职者的平均年薪在50,000英镑左右。</p>
            <div class="major_school">
                <h3>院校推荐</h3>
                <p>华威大学、巴斯大学、布里斯托大学、伦敦政治经济学院、埃克塞特大学、格拉斯哥大学、爱丁堡大学等。</p>
            </div>
        </div>
        <div class="major_part">
            <p><strong>专业优势：</strong>3</p>
            <p><strong>就业前景：</strong>英国的服务业是本国第一产业，其中商业咨询研究比例居首，为应届毕业生提供大量就业职位。而且英国拥有全欧最多的全球500强公司区域总部，提供大量管理职位。在英国一个应届毕业生可获得25,000英镑年薪，而有三年经验的求职者的平均年薪在50,000英镑左右。</p>
            <div class="major_school">
                <h3>院校推荐</h3>
                <p>华威大学、巴斯大学、布里斯托大学、伦敦政治经济学院、埃克塞特大学、格拉斯哥大学、爱丁堡大学等。</p>
            </div>
        </div>
        <div class="major_part">
            <p><strong>专业优势：</strong>4</p>
            <p><strong>就业前景：</strong>英国的服务业是本国第一产业，其中商业咨询研究比例居首，为应届毕业生提供大量就业职位。而且英国拥有全欧最多的全球500强公司区域总部，提供大量管理职位。在英国一个应届毕业生可获得25,000英镑年薪，而有三年经验的求职者的平均年薪在50,000英镑左右。</p>
            <div class="major_school">
                <h3>院校推荐</h3>
                <p>华威大学、巴斯大学、布里斯托大学、伦敦政治经济学院、埃克塞特大学、格拉斯哥大学、爱丁堡大学等。</p>
            </div>
        </div>
    </div>
</div>
<!--热门专业结束-->

<!--申请途径开始-->
<div class="way">
    <h3 class="common_head">英国本科申请<span>四大途径</span></h3>
    <table>
        <tbody>
        <tr class="table_head">
            <td class="td_head">申请途径</td>
            <td>A-level</td>
            <td>大学预科</td>
            <td>本科直升</td>
            <td>专升本top-up</td>
        </tr>
        <tr class="table_1">
            <td class="td_head td_center">适合人群</td>
            <td>相当于国内高中课程，适合国内高一、高二优秀学生申请。</td>
            <td>适合国内高二、高三在读和高中毕业的学生，毕业后直接接入读本科。</td>
            <td>适合国内大一、大二在读的学生，申请需要提供本科期间成绩。</td>
            <td>适合国内的三年制大专学历或者本科无学位的学生。</td>
        </tr>
        <tr class="table_2 table_color">
            <td class="td_head">雅思要求</td>
            <td>5.0-6.0分左右</td>
            <td>5.5-6.5分左右</td>
            <td>6.5-7.0分左右</td>
            <td>6.0-7.0分左右</td>
        </tr>
        <tr class="table_2">
            <td class="td_head">学制时长</td>
            <td>两年</td>
            <td>八个月到一年不等</td>
            <td>直接入读英国本科一年级</td>
            <td>直接入读英国本科最后一年</td>
        </tr>
        </tbody>
    </table>
</div>
<!--申请途径结束-->

<!--申请流程开始-->
<div class="apply">
    <div class="apply_head">
        <h3 class="common_head">英国本科留学<span>申请流程</span></h3>
    </div>
    <div class="apply_content">
        <div class="apply_list">
            <div class="apply_up">
                <ul class="clearfix">
                    <li>
                        <p class="apply_bg">8月-9月</p>
                        <p class="apply_title">加入我们，确定最终留学方案</p>
                        <p><strong>我们的服务：</strong></p>
                        <p>导师1V1深度沟通，定制<span>【个性申请计划】</span></p>
                        <p>导师指导下，参加针对性的<span>【背景项目提升】</span></p>
                    </li>
                    <li>
                        <p class="apply_bg">10月-11月</p>
                        <p class="apply_title">积极准备语言考试，完成申请材料</p>
                        <p><strong>我们的服务：</strong></p>
                        <p>导师为您筛选合适的<span>【目标院校】</span></p>
                        <p>准备雅思考试，参加<span>【雅思1V1课程】</span></p>
                    </li>
                </ul>
                <div class="apply_btn">
                    <div class="apply_btn_1">&gt;</div>
                    <div class="apply_btn_2">&gt;</div>
                    <div class="apply_btn_3">&gt;</div>
                    <div class="apply_btn_4">&gt;</div>
                    <div class="apply_btn_5">&gt;</div>
                    <p class="apply_btn_6">成功</p>
                </div>
            </div>
            <div class="apply_down clearfix">
                <ul class="clearfix">
                    <li>
                        <p class="apply_bg">12月-次年1月</p>
                        <p class="apply_title">彰显申请优势，跟进申请状态</p>
                        <p><strong>我们的服务：</strong></p>
                        <p>导师帮助修改，最终定稿<span>【文书】</span></p>
                        <p>导师指点，与教授进行<span>【套磁】</span></p>
                    </li>
                    <li>
                        <p class="apply_bg">次年2月-4月</p>
                        <p class="apply_title">及时补充材料，获取名校OFFER</p>
                        <p><strong>我们的服务：</strong></p>
                        <p>理性权衡利弊，最终确认<span>【选校】</span></p>
                        <p>填写回执、申请语言课程、申请宿舍的表格</p>
                    </li>
                    <li>
                        <p class="apply_bg">次年5月-8月</p>
                        <p class="apply_title">顺利签证，准备赴英</p>
                        <p><strong>我们的服务：</strong></p>
                        <p>导师帮忙，简化<span>【签证】</span></p>
                        <p>邀请参加<span>【行程指导和校友会】</span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--申请流程结束-->

<!--老师团队开始-->
<div class="undergraduate_teacher">
    <h3 class="common_head">寻找你的<span>专属顾问</span></h3>
    <div class="undergraduate_teacher_part">
        <ul class="clearfix">
            <li>
                <div class="undergraduate_teacher_img">
                    <p></p>
                    <h3><span>X老师</span></h3>
                </div>
                <div class="undergraduate_teacher_news">
                    <p>先后就读于北京外国语大学，华盛顿州立大学。回国后一直致力于英语教学,曾任中央电视台国际频道晚间英语新闻主播,北京外经贸大学学习欧盟高级口译并完成全部课程,多次参加国际会议口译工作,曾在农业部举办的国际粮食峰会上担任同声传译。陪同约旦王子来华访问中石化公司并担任英语口译，雅思口语考试8.0分获得者。</p>
                    <a href="#">预约老师</a>
                </div>
            </li>
            <li>
                <div class="undergraduate_teacher_img">
                    <p></p>
                    <h3><span>X老师</span></h3>
                </div>
                <div class="undergraduate_teacher_news">
                    <p>先后就读于北京外国语大学，华盛顿州立大学。回国后一直致力于英语教学,曾任中央电视台国际频道晚间英语新闻主播,北京外经贸大学学习欧盟高级口译并完成全部课程,多次参加国际会议口译工作,曾在农业部举办的国际粮食峰会上担任同声传译。陪同约旦王子来华访问中石化公司并担任英语口译，雅思口语考试8.0分获得者。</p>
                    <a href="#">预约老师</a>
                </div>
            </li>
            <li>
                <div class="undergraduate_teacher_img">
                    <p></p>
                    <h3><span>X老师</span></h3>
                </div>
                <div class="undergraduate_teacher_news">
                    <p>先后就读于北京外国语大学，华盛顿州立大学。回国后一直致力于英语教学,曾任中央电视台国际频道晚间英语新闻主播,北京外经贸大学学习欧盟高级口译并完成全部课程,多次参加国际会议口译工作,曾在农业部举办的国际粮食峰会上担任同声传译。陪同约旦王子来华访问中石化公司并担任英语口译，雅思口语考试8.0分获得者。</p>
                    <a href="#">预约老师</a>
                </div>
            </li>
            <li>
                <div class="undergraduate_teacher_img">
                    <p></p>
                    <h3><span>X老师</span></h3>
                </div>
                <div class="undergraduate_teacher_news">
                    <p>先后就读于北京外国语大学，华盛顿州立大学。回国后一直致力于英语教学,曾任中央电视台国际频道晚间英语新闻主播,北京外经贸大学学习欧盟高级口译并完成全部课程,多次参加国际会议口译工作,曾在农业部举办的国际粮食峰会上担任同声传译。陪同约旦王子来华访问中石化公司并担任英语口译，雅思口语考试8.0分获得者。</p>
                    <a href="#">预约老师</a>
                </div>
            </li>
        </ul>
        <i class="teacher_arron1"></i>
        <i class="teacher_arron2"></i>
    </div>
</div>
<!--老师团队结束-->
{%endblock%}