{% extends '../layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/">官网首页</a></li>
    <li><span>地区列表</span></li>
</ol>

<h3 style="font-size: 24px;font-weight: bold; line-height: 50px">地区列表</h3>

<table class="table table-hover table-striped">
    <tr>
        <th>地区ID</th>
        <th>地区名称</th>
        <th>地区顺序</th>
        <th>地区学校数量</th>
        <th>操作</th>
    </tr>
    {% for area in areas %}
    <tr>
        <td>{{area._id.toString()}}</td>
        <td>{{area.Area_name}}</td>
        <td>{{area.Area_order}}</td>
        <td>{{area.Area_count}}</td>
        <td>
            <a href="/admin/area/edit?id={{area._id.toString()}}">修改</a>
             | <a href="/admin/area/delete?id={{area._id.toString()}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}