{% extends '../layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/">官网首页</a></li>
    <li><span>用户列表</span></li>
</ol>

<h3 style="font-size: 24px;font-weight: bold; line-height: 50px">用户列表</h3>

<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>密码</th>
        <th>是否是管理员</th>
        <th>操作</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user._id.toString()}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>
            {% if user.isAdmin %}是{% endif %}
        </td>
        <td>
            <a href="/admin/user/edit?id={{user._id.toString()}}">修改</a>
            | <a href="/admin/user/delete?id={{user._id.toString()}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>

<!--引用模版，相当于引用文件，在这里引用page.html里面的内容，不一定是html文件，其他都可以-->
{%include '../page.html'%}

{% endblock %}